<div class="content">
    <div class="container mt-4">
      <div class="card col-md-8 m-2 mx-auto">
        <div class="card-body">
          <h3 class="card-header text-center mb-3">¡GRACIAS POR SU COMPRA!</h3>
          <div class="row">
            <div class="col-12 col-md-12">
              <button class="btn btn-info btn-sm pull-right">
                <i class="far fa-file-pdf mr-1"></i>Descargar
              </button>
            </div>
            <div class="col-12 col-md-8 pl-5 pr-5">
              <ul class="list-group">
                <li class="d-flex justify-content-between align-items-center">
                  <strong>Cliente: </strong>
                  <h5>{{ orderData.names }}</h5>
                </li>
                <li class="d-flex justify-content-between align-items-center">
                  <strong>CI/NIT: </strong>
                  <h5>{{ orderData.nit }}</h5>
                </li>
                <li class="d-flex justify-content-between align-items-center">
                  <strong>Celular: </strong>
                  <h5>{{ orderData.phoneNumber }}</h5>
                </li>
                <li class="d-flex justify-content-between align-items-center">
                  <strong>Email: </strong>
                  <h5>{{ orderData.email }}</h5>
                </li>
              </ul>
              <strong>DETALLE</strong>
              <ul class="list-group">
                <li class="d-flex justify-content-between align-items-center">
                  <strong>Método de Pago: </strong>
                  <h5>{{ orderData.paymentMethod }}</h5>
                </li>
                <li class="d-flex justify-content-between align-items-center">
                  <strong>Método de Entrega: </strong>
                  <h5>{{ orderData.deliveryMethod }}</h5>
                </li>
                <li class="d-flex justify-content-between align-items-center">
                  <strong>Ciudad: </strong>
                  <h5>{{ orderData.city }}</h5>
                </li>
                <li class="d-flex justify-content-between align-items-center">
                  <strong>Fecha: </strong>
                  <h5>{{ orderData.created | date: 'yyyy-MM-dd' }}</h5>
                </li>
                <li class="d-flex justify-content-between align-items-center">
                  <strong>Hora: </strong>
                  <h5>Descript</h5>
                </li>
              </ul>
            </div>
            <div class="col-12 col-md-4">
              <img
                src="../../../../assets/img/angular.jpg"
                class="d-block img-fluid"
                alt=""
              />
              <div class="d-flex justify-content-between align-items-center">
                Descarga tu QR para recibir el producto
                <i class="fas fa-download mr-2"></i>
              </div>
            </div>
            <!-- <div class="text-center col-12 col-md-12">
                          <strong>Total</strong> {{orderData.total}} Bs
                      </div> -->
            <div class="col-12">
              <div class="table-responsive ps p-1">
                <table class="table table-bordered table-striped">
                  <thead class="text-primary">
                    <tr>
                      <th class="text-center">Producto</th>
                      <th class="text-center">Cantidad</th>
                      <th class="text-center">Precio (unidad)</th>
                      <th class="text-center">Precio Adicional</th>
                      <th class="text-center">Precio Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let product of product">
                      <td class="text-center">{{ product.name }}</td>
                      <td class="text-center">{{ product.quantity }}</td>
                      <td class="text-center">{{ product.price }}</td>
                      <td class="text-center">{{ product.additionalPrice }}</td>
                      <td class="text-center">{{ product.total }}</td>
                    </tr>
                    <tr>
                      <td class="text-right" colspan="5">
                        <strong>Total:</strong> {{ orderData.total }} Bs
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  