<div class="content">
  <div class="row">
    <div class="col-12">
      <button class="btn btn-danger animation-on-hover pull-right btn-sm" routerLink="/testimony/create" type="button">Crear testimonio</button>
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-8">
              <h3 class="card-title">Lista de Testimonios</h3>
            </div>
            <div class="col-4">
              <input class="form-control" placeholder="Buscar testimonio ..." type="text" name="filterPost" [(ngModel)]="filterStatement" />
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive ps">
            <table class="table table-bordered table-striped">
              <thead class="text-primary">
                <tr>
                  <th>Titulo</th>
                  <th class="text-center">Descripcion</th>
                  <th class="text-center">Fecha de creacion</th>
                  <th class="text-right">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let list of lists | filterStatement: filterStatement | paginate: {itemsPerPage: 100, currentPage: pageActual}">
                  <td>{{list.name}}</td>
                  <td class=" text-center">{{list.description | slice:0:35}} ...</td>
                  <td class=" text-center">{{list.created | date: 'dd-MM-yyyy'}}</td>
                  <td class=" text-right">
                    <button class=" btn btn-success btn-link btn-sm btn-icon" type="button" placement="top"
                      ngbTooltip="ver" container="body" [routerLink]="['/testimony/view', list.id]"><i class="tim-icons icon-paper"></i></button>
                    <button class="btn btn-warning btn-link btn-sm" type="button" placement="top" ngbTooltip="editar"
                      container="body"><i class=" tim-icons icon-pencil"></i></button>
                      <button class="btn btn-danger btn-link btn-sm"  (click)="showDelete(content)" type="button" placement="top" ngbTooltip="eliminar"
                      container="body"><i class=" tim-icons icon-trash-simple"></i></button>
                  </td>
                  <ng-template #content let-modal>
                    <div class="modal-header">
                      <h4 class="modal-title" id="modal-basic-title">Eliminar la Tienda</h4>
                      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>¿ Esta seguro de eliminar el testimonio ?</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-outline-danger" (click)="modal.close(list.id)">Eliminar</button>
                    </div>
                  </ng-template>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row justify-content-center h-100">
          <pagination-controls (pageChange)="pageActual = $event" previousLabel=" " nextLabel=" " maxSize="12">
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
