<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <table class="table">
            <thead>
              <tr>
                <th class="text-center">#</th>
                <th>Nombre</th>
                <th>Título</th>
                <th>Tipo</th>
                <th class="text-right">Título de agradecimiento</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">1</td>
                <td>Andrew Mike</td>
                <td>Develop</td>
                <td>Normal</td>
                <td class="text-right">Me Sirvio</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
