<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <table class="table">
            <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th>Nombre</th>
                    <th>Título</th>
                    <th>Tipo</th>
                    <th class="text-right">Título de agradecimiento</th>
                    <th class="text-right">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center">1</td>
                    <td>Andrew Mike</td>
                    <td>Develop</td>
                    <td>Normal</td>
                    <td class="text-right">Me Sirvio</td>
                    <td class="td-actions text-right">
                      <button type="button" rel="tooltip" class="btn btn-info btn-icon btn-sm " data-original-title="" title="">
                        <i class="tim-icons icon-single-02"></i>
                      </button>
                      <button type="button" rel="tooltip" class="btn btn-success btn-icon btn-sm " data-original-title="" title="">
                        <i class="tim-icons icon-settings"></i>
                      </button>
                      <button type="button" rel="tooltip" class="btn btn-danger btn-icon btn-sm " data-original-title="" title="">
                        <i class="tim-icons icon-simple-remove"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
</div>
