<div class="content">
  <div class="row">
    <div class="col-12">
      <button
        class="btn btn-danger animation-on-hover pull-right btn-sm"
        routerLink="/service/create"
        type="button"
      >
        Nuevo servicio
      </button>
      <br /><br />
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-12 col-md-8">
              <h3 class="card-title">Lista de Servicios</h3>
            </div>
            <div class="col-12 col-md-4">
              <input
                class="form-control"
                placeholder="Buscar servicio..."
                type="text"
                name="filterPost"
                [(ngModel)]="filterService"
              />
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive-sm">
            <table class="table table-striped">
              <thead class="text-primary">
                <tr>
                  <th>Titulo</th>
                  <th>Modo</th>
                  <th class="text-center">Descripcion</th>
                  <th class="text-center">Fecha de creacion</th>
                  <th class="text-right">Acciones</th>
                </tr>
              </thead>
              <tbody class="table-bordered">
                <tr *ngFor="let list of lists | filterService: filterService | paginate: {itemsPerPage: 100, currentPage: pageActual}">
                  <td>{{list.title  | slice:0:25}}</td>
                  <td>{{list.mode}}</td>
                  <td class=" text-center">{{list.description | slice:0:35}} ...</td>
                  <td class=" text-center">{{list.created | date: 'dd-MM-yyyy'}}</td>
                  <td class=" text-center">
                    <button class=" btn btn-success btn-link btn-sm btn-icon" type="button" placement="top"
                      ngbTooltip="ver" container="body" [routerLink]="['/service/view', list.id]"><i class="tim-icons icon-paper"></i></button>
                    <button class="btn btn-warning btn-link btn-sm" [routerLink]="['/service/edit', list.id]" type="button" placement="top" ngbTooltip="editar"
                      container="body"><i class=" tim-icons icon-pencil"></i></button>
                      <button class="btn btn-danger btn-link btn-sm"  (click)="showDelete(content)" type="button" placement="top" ngbTooltip="eliminar"
                      container="body"><i class=" tim-icons icon-trash-simple"></i></button>
                  </td>
                  <ng-template #content let-modal>
                    <div class="modal-header">
                      <h4 class="modal-title" id="modal-basic-title">
                        Eliminar el Servicio
                      </h4>
                      <button
                        type="button"
                        class="close"
                        aria-label="Close"
                        (click)="modal.dismiss('Cross click')"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>¿ Esta seguro de eliminar el servicio ?</p>
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-outline-danger"
                        (click)="modal.close(list.id)"
                      >
                        Eliminar
                      </button>
                    </div>
                  </ng-template>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row justify-content-center h-100">
          <pagination-controls
            (pageChange)="pageActual = $event"
            previousLabel=" "
            nextLabel=" "
            maxSize="12"
          >
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
