<div class="content">
    <h3 class=" title mt-5 text-center">MIS ACTIVIDADES</h3>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3">
                <div class="card card-user">
                    <div class="card-body">
                        <div class="author">
                            <img src="../../../../assets/img/img_3115.jpg" class="img-fluid" alt="">
                            <br><br>
                            <h4 class="title">Titulo</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="card card-user">
                    <div class="card-body">
                        <div class="author">
                            <img src="../../../../assets/img/img_3115.jpg" class="img-fluid" alt="">
                            <br><br>
                            <h4 class="title">Titulo</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="card card-user">
                    <div class="card-body">
                        <div class="author">
                            <img src="../../../../assets/img/img_3115.jpg" class="img-fluid" alt="">
                            <br><br>
                            <h4 class="title">Titulo</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="card card-user">
                    <div class="card-body">
                        <div class="author">
                            <img src="../../../../assets/img/img_3115.jpg" class="img-fluid" alt="">
                            <br><br>
                            <h4 class="title">Titulo</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

