<div class="content">
  <h3 class="title mt-5 text-center">MIS ACTIVIDADES</h3>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-3" *ngFor="let inscription of inscriptions">
        <div class="card card-user">
          <div class="card-body">
            <div class="author">
              <img
                [src]="inscription.image"
                class="img-fluid"
                alt="serviceImage"
              />
              <br /><br />
              <h4 class="title">{{inscription.title}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-ui-loader fgsColor='gray' fgsType='three-strings' overlayColor="rgba(24,31,46)"></ngx-ui-loader>
