  <footer class="footer">
  <hr color="purple" width="100%" class="mb-5">
      <div class="row col-12">
        <div class="col-12 col-md-4 text-center">
          <!-- <p class="info-title">Redes Sociales</p> -->
            <button placement="top" ngbTooltip="Facebook" class="btn btn-icon btn-simple bt-lg btn-twitter">
              <i class="fab fa-facebook-f"> </i>
            </button>
            <button placement="top" ngbTooltip="Instagram" class="btn btn-icon btn-simple bt-lg btn-instagram">
              <i class="fab fa-instagram"> </i>
            </button>
            <button placement="top" ngbTooltip="Youtube" class="btn btn-icon btn-simple bt-lg btn-youtube">
              <i class="fab fa-youtube"> </i>
            </button>
        </div>
        <div class="col-12 col-md-4 text-center">
          <p class="info-title">¿ Alguna Consulta ?</p>
          <button class="btn btn-theme btn-twitter" (click)="callSchedule()">
            <i class="fab fa-discord"></i>
            Agenda tu llamada
          </button>
        </div>
        <div class="col-12 col-md-4 mx-auto">
            <p class="info-title">¿ Cómo llegar ?</p>
            <img
              src="../../../assets/img/maps.jpg"
              class="img-fluid"
              alt="Responsive image"
            />
          </div>
      </div>
      <div class="col-12 text-center mt-3">
          &copy; {{ test | date: "yyyy" }} made with
          <i class="tim-icons icon-heart-2"> </i> by
          <a href="https://www.creative-tim.com?ref=bda-footer" target="_blank">
            Creative Tim
          </a>
          for a better web.
      </div>
  </footer>
