<div class="container">
  <hr color="purple" width="100%" />
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  <div class="row text-center">
    <div class="col text-center">
      <div class="info info-hover">
        <div class="row">
          <div class="col-md col-12">
            <img
              src="../../../assets/img/anime3.png"
              class="mx-auto d-block avatar"
            />
            <br />
          </div>
          <div class="col-md col-12 text-center">
            <h4>
              <p class="text">
                <i class="tim-icons icon-email-85"></i>
                aaaaaaaaaaaaaaaaaaaa
              </p>
              <br />
              <p class="text">
                <i class="tim-icons icon-compass-05"></i>
                aaaaaaaaaaaaaaaaaaaa
              </p>
              <br />
              <p class="text">
                <i class="tim-icons icon-mobile"></i>
                aaaaaaaaaaaaaaaaaaaa
              </p>
            </h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md col-12">
            <button class="btn btn-icon btn-simple bt-lg btn-twitter">
              <i class="fab fa-facebook"> </i>
            </button>
            <button class="btn btn-icon btn-simple bt-lg btn-google-plus-g">
              <i class="fab fa-google"> </i>
            </button>
            <button class="btn btn-icon btn-simple bt-lg btn-instagram">
              <i class="fab fa-instagram"> </i>
            </button>
            <button class="btn btn-icon btn-simple bt-lg btn-youtube">
              <i class="fab fa-youtube"> </i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col text-center">
      <div class="info info-hover">
        <div class="row">
          <div class="col">
            <br />
            <p class="info-title">¿ Alguna Consulta ?</p>
            <button class="btn btn-theme btn-twitter" (click)="callSchedule()">
              <i class="fab fa-discord"></i>
              Agenda tu llamada
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="description">
              <p class="info-title">¿ Como llegar ?</p>
              <img
                src="../../../assets/img/maps.jpg"
                class="img-fluid"
                alt="Responsive image"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container-fluid">
      <div class="copyright">
        &copy; {{ test | date: "yyyy" }} made with
        <i class="tim-icons icon-heart-2"> </i> by
        <a href="https://www.creative-tim.com?ref=bda-footer" target="_blank">
          Creative Tim
        </a>
        for a better web.
      </div>
    </div>
  </footer>
</div>
