<footer class="footer">
  <div class="container">
    <hr width="100%" color="purple" class="mb-5" />
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 mt-4">
        <div class="col-12 col-md-12 row">
          <div class="col text-center">
            <!-- <img [src]="user.icon" class="mx-auto img-rounded d-block mt-2" alt=""> -->
          </div>
          <div class="col-md-9 col-12 mt-3">
            <!-- <p *ngIf="socialMedia.email" class="h4 text-left p-1"><i class="pull-left far fa-envelope fa-2x pr-2"></i> <b class="actionB" (click)="contactForm()">{{  socialMedia.email}}</b></p>
          <p *ngIf="user.address" class="h4 text-left p-1"><i class="pull-left fas fa-map-marker-alt fa-2x pr-2"></i> <b>{{  user.address}}</b></p>
          <p *ngIf="numberPhone" class="h4 text-left p-1"><i class="pull-left fab fa-whatsapp fa-2x pr-2"> </i> <b class="actionB" (click)="openSocialMedia(socialMedia.whatsapp)" > + {{   numberPhone[3]}}</b></p> -->
          </div>
        </div>
        <!-- <div class="col-12 col-md-12 text-center mt-5 mb-3" *ngIf="socialMedia">
          <button
          *ngIf="socialMedia.facebook"
          (click)="openSocialMedia(socialMedia.facebook)"
          placement="top"
          ngbTooltip="Facebook"
          class="btn btn-simple bt-lg m-1"
        >
          <i class="fab fa-facebook-f"> </i>
        </button>
        <button
          *ngIf="socialMedia.instagram"
          (click)="openSocialMedia(socialMedia.instagram)"
          placement="top"
          ngbTooltip="Instagram"
          class="btn btn-simple bt-lg m-1"
        >
          <i class="fab fa-instagram"> </i>
        </button>
        <button
          *ngIf="socialMedia.youtube"
          (click)="openSocialMedia(socialMedia.youtube)"
          placement="top"
          ngbTooltip="Youtube"
          class="btn btn-simple bt-lg m-1"
        >
          <i class="fab fa-youtube"> </i>
        </button>
        <button
          *ngIf="socialMedia.twitter"
          (click)="openSocialMedia(socialMedia.twitter)"
          placement="top"
          ngbTooltip="twitter"
          class="btn btn-simple bt-lg m-1"
        >
          <i class="fab fa-twitter"> </i>
        </button>
        <button
          *ngIf="socialMedia.whatsapp"
          (click)="openSocialMedia(socialMedia.whatsapp)"
          placement="top"
          ngbTooltip="Whatsapp"
          class="btn btn-simple bt-lg m-1"
        >
          <i class="fab fa-whatsapp"> </i>
        </button>
        <button
          *ngIf="socialMedia.telegram"
          (click)="openSocialMedia(socialMedia.telegram)"
          placement="top"
          ngbTooltip="Telegram"
          class="btn btn-simple bt-lg m-1"
        >
          <i class="fab fa-telegram-plane"> </i>
        </button>
        <button
          *ngIf="socialMedia.tiktok"
          (click)="openSocialMedia(socialMedia.tiktok)"
          placement="top"
          ngbTooltip="Tiktok"
          class="btn btn-simple bt-lg m-1"
        >
          <i class="fab fa-tiktok"> </i>
        </button>
        </div> -->
      </div>
      <div class="col-12 col-md-4 text-center">
        <p class="title">¿ Alguna Consulta ?</p>
        <button class="btn btn-theme btn-twitter" (click)="callSchedule()">
          <i class="fab fa-discord"></i>
          Agenda tu llamada
        </button>
        <br />
        <br />
        <p class="title">¿ Cómo llegar ?</p>
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
      </div>
    </div>
    <div class="col-12 text-center mt-4">
      &copy; {{ test | date: "yyyy" }} made with
      <i class="tim-icons icon-heart-2"> </i> by
      <a href="https://www.creative-tim.com?ref=bda-footer" target="_blank">
        Creative Tim
      </a>
      for a better web.
      <br />
      <br />
    </div>
  </div>
</footer>