footer {
  margin: 0;
  padding: 0;
}
.fa-facebook {
  color: #3b5998;
}
.fa-facebook-f {
  color: #3b5998;
}
.fa-twitter {
  color: #00aced;
}
.fa-telegram-plane {
  color: #0088cc;
}
.fa-linkedin-in {
  color: #2867b2;
}
.fa-whatsapp {
  color: #25d366;
}
.fa-envelope {
  color: #fff;
}
.fa-instagram {
  color: #e1306c;
}
.fa-tiktok {
  color: #000;
}
.fa-youtube {
  color: #ff0000;
}
.fa-map-marker-alt {
  color: #fa4430;
}

.actionB {
  cursor: pointer !important;
}

agm-map {
  height: 300px;
}