<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-user">
        <div class="card-body">
          <div class="author">
            <div class="card-header text-center">
              <h2 class="card-title">Servicio</h2>
              <p class="card-text">Puedes añadir solo hasta 12 servicios</p>
            </div>
          </div>
          <br />
          <hr color="purple" width="90%" />
          <br />
          <form #form="ngForm" (ngSubmit)="edit()">
            <div class="row">
              <div class="col-sm-6 mx-auto">
                <label for="modes">Modo</label>
                <select class="form-control text-center" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="service.mode" [value]="service.mode">
                  <option *ngFor="let mode of modes">{{mode.value}}</option>
                </select>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-12 col-md-3">
                <h5 class="text-center">ICONO <strong>(dimensiones recomendadas 500 x 500px)</strong>
                </h5>
                <div class="container-image p-2">
                  <div [ngSwitch]="updateIcon">
                    <div *ngSwitchCase="0">
                      <img [src]="serviceData.icon" class="mx-auto d-block">
                    </div>
                    <div *ngSwitchCase="1">
                      <img [src]="icon" class="mx-auto d-block">
                    </div>
                    <div *ngSwitchCase="2">
                      <img src="/../../../../assets/img/img_3115.jpg" alt="" class="mx-auto d-block">
                    </div>
                  </div>
                  <div class="overlay" (click)="showIcon()">
                    <div class="text-icon text-light">
                      <span>
                        <i class="tim-icons icon-upload"> </i>
                        ICONO <strong>(dimensiones recomendadas 500px x 500px)</strong>
                      </span>
                      <p>¡ haga click aqui !</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-9">
                <h5 class="text-center">POSTER <strong>(dimensiones recomendadas "1920 x 1080
                  px")</strong></h5>
                <div class="container-image p-2">
                  <div [ngSwitch]="updateBanner">
                    <div *ngSwitchCase="0">
                      <img [src]="serviceData.banner" class="mx-auto d-block">
                    </div>
                    <div *ngSwitchCase="1">
                      <img [src]="banner" class="mx-auto d-block">
                    </div>
                    <div *ngSwitchCase="2">
                      <img src="/../../../../assets/img/imagen.jpg" alt="" class="mx-auto d-block">
                    </div>
                  </div>
                  <div class="overlay" (click)="showBanner()">
                    <div class="text text-light">
                      <div>
                        <i class="tim-icons icon-upload"> </i>
                        POSTER <strong>(dimensiones recomendadas 1920px x 1080px)</strong>
                      </div>
                      <p>¡ haga click aqui !</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <hr color="purple" width="90%" />
            <br />
            <div class="row">
              <div class="col-12 col-md-3">
                <h5 class="text-center">IMAGEN DEL SERVICO <strong>(dimensiones recomendadas "900 x 900
                  px")</strong></h5>
                <div class="container-image p-2">
                  <div [ngSwitch]="updateImage">
                    <div *ngSwitchCase="0">
                      <img [src]="serviceData.image" class="mx-auto d-block">
                    </div>
                    <div *ngSwitchCase="1">
                      <img [src]="image" class="mx-auto d-block">
                    </div>
                    <div *ngSwitchCase="2">
                      <img src="../../../../assets/img/image-service.jpg" alt="" class="mx-auto d-block">
                    </div>
                  </div>
                  <div class="overlay" (click)="showPortrait()">
                    <div class="text-icon text-light">
                      <span>
                        <i class="tim-icons icon-upload"> </i>
                        SERVICIO <strong>(dimensiones recomendadas 900px x 900px)</strong>
                      </span>
                      <p>¡ haga click aqui !</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-9 text-left">
                <div class="form-group">
                  <label> Nombre del servicio </label>
                  <input class="form-control" type="text" [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="service.namae" [value]="serviceData.name" />
                </div>
                <div class="form-group">
                  <label> Título de la descripcion </label>
                  <input class="form-control" type="text" [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="service.title" [value]="serviceData.title" />
                </div>
                <div class="form-group">
                  <label> Descripción del servicio </label>
                  <textarea class="form-control rounded pl-3 pr-3" type="text" rows="5" [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="service.description" [value]="serviceData.description"></textarea>
                </div>
              </div>
            </div>
            <div class="text-center">
              <p><b>Escoja el tipo de servicio</b></p>
              <br />
              <div class="row">
                <div class="col-md-4">
                  <div class="form-check form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" value="normal" (click)="uncheck()" id="normal" />
                      Normal
                      <span class="form-check-sign"></span>
                    </label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-check form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" value="test" (click)="uncheck2()" id="test" />
                      Encuesta de emprendedores
                      <span class="form-check-sign"></span>
                    </label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-check form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" value="auto" (click)="uncheck3()" id="auto" />
                      Autoevaluacion
                      <span class="form-check-sign"></span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div class="row text-left">
              <div class="col-md-12">
                <div class="form-group">
                  <label> Título de agrecidimiento </label>
                  <input class="form-control" type="text" [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="service.titleGratitude" [value]="serviceData.titleGratitude" />
                </div>
                <div class="form-group">
                  <label>Descripcion del agrecidimiento</label>
                  <textarea class="form-control rounded pl-3 pr-3" type="text" [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="service.descriptionGratitude" [value]="serviceData.descriptionGratitude"></textarea>
                </div>
              </div>
            </div>
            <div class="text-right">
              <button type="submit" class="btn btn-warning">Editar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-ui-loader fgsColor="gray" fgsType="three-strings" overlayColor="rgba(24,31,46)" [text]="content">
</ngx-ui-loader>
