<div class="content">
    <div class="container mt-4">
        <div class="card col-md-8 m-2 mx-auto">
            <div class="card-body">
                <h3 class="card-header text-center mb-3">DATOS DE ENTREGA</h3>
                <form [formGroup]="order" (ngSubmit)="post()" autocomplete="off">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Método de Pago</label>
                                <select class="form-control text-center" formControlName="paymentMethod">
                                    <option *ngFor="let payment of payment">{{payment}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Método de Entrega</label>
                                <select class="form-control text-center" formControlName="deliveryMethod">
                                    <option *ngFor="let delivery of delivery">{{delivery}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Información de facturación CI/NIT</label>
                                <input formControlName="nit" class="form-control" type="text" required/>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>E-mail</label>
                                <input class="form-control" formControlName="email" type="text"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>País</label>
                                <input formControlName="country" class="form-control" type="text"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Ciudad</label>
                                <input formControlName="city" class="form-control" type="text"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Celular</label>
                                <input formControlName="phoneNumber" class="form-control" type="text"/>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Dirección *Llenar solo en caso si la entrega es tipo Delivery</label>
                                <input formControlName="address" class="form-control" type="text"/>
                            </div>
                        </div>
                        <div class="text-center col-12 col-md-12">
                            <strong>Total</strong> {{order.value.total}} Bs
                        </div>
                        <div class="col-12 d-flex justify-content-center">
                            <button type="submit" class="btn btn-info btn-sm" [disabled]="order.invalid">Confirmar Compra</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<ngx-ui-loader fgsColor='gray' fgsType='three-strings' overlayColor="rgba(24,31,46)" text="Cargando ...">
</ngx-ui-loader>