<div class="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                <h2 class="pt-5 title text-center">{{article.title}}</h2>
                <div class="col-12 col-md-12 text-center mb-5">
                    <img [src]="article.image" class="img-fluid img-article">
                    <span class="float-left">
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                    </span>
                    <div class="button-container pull-right">
                        Compartir:
                        <button class="btn btn-icon btn-round btn-facebook" href="javascript:void(0)">
                            <i class="fab fa-facebook fa-1"> </i>
                        </button>
                        <button class="btn btn-icon btn-round btn-twitter" href="javascript:void(0)">
                            <i class="fab fa-twitter fa-1"> </i>
                        </button>
                        <button class="btn btn-icon btn-round btn-google" href="javascript:void(0)">
                            <i class="fab fa-google-plus fa-1"> </i>
                        </button>
                    </div>
                </div>
                <br />
                <br />
                <div class="col-12 col-md-12 text-justify">
                    <p>{{article.description}}</p>
                    <br />
                    <br />
                    <button class="btn btn-info pull-right btn-sm">Obtén un regalo</button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <hr color="purple" width="80%" />
    <br>
    <div class="container">
        <h3>Comentarios</h3>
        <div class="row justify-content-center">
            <div class="col-10">
                <form [formGroup]="content" (ngSubmit)="postComment()">
                    <div class="d-flex">
                        <textarea class="form-control rounded" name="" id="" rows="6"
                            placeholder="Escribe tu comentario" formControlName="comment" ></textarea>
                    </div>
                    <div *ngIf="comment.invalid && (comment.dirty || comment.touched)">
                        <small *ngIf="comment.errors.required" class="text-danger">
                          *El comentario es <strong>requerido</strong>
                        </small>
                      </div>
                    <button type="submit" class="btn btn-info btn-sm pull-right" [disabled]="content.invalid">Enviar</button>
                </form>
            </div>
            <div class="col-10" *ngFor="let comment of comments">
                <br>
                <br>
                <div class="box-media d-flex">
                    <img [src]="comment.userImage" class="rounded-circle" width="45" height="45" alt="">
                    <div class="pl-3">
                        <p class="box-name">{{comment.userName}} <span>{{comment.created | amTimeAgo}}</span></p>
                        <div class="text-justify pl-3">{{comment.comment}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ngx-ui-loader fgsColor='gray' fgsType='three-strings' overlayColor="rgba(24,31,46)"></ngx-ui-loader>