<div class="content">
  <div class="row">
    <div class="col-md-11">
      <div class="card card-user">
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th class="text-left text-center">#</th>
                <th class="text-center">Nombre</th>
                <th class="text-right text-center">Imagen</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-left text-center">1</td>
                <td class="text-center">Andrew Mike</td>
                <td class="text-right text-center">Develop</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
