<div class=" content">
    <div class=" row">
        <div class=" col-md-12">
            <div class="card">
                <form #form="ngForm" (ngSubmit)="edit()">
                    <div class=" card-body">
                        <div style="text-align: center">
                            <h2>Editar Blog</h2>
                        </div>
                        <hr />
                        <br>
                        <div class="row">
                            <div class="col-12">
                                <label> Nombre del Blog </label>
                                <input class=" form-control" type="text" [(ngModel)]="blog.name"
                                    [ngModelOptions]="{standalone: true}" [value]="dataBlog.name">
                            </div>
                            <br>
                            <div class="col-12 col-md-5">
                                <h4 class="text-center">Icono del blog</h4>
                                <br>
                                <div class="container-image p-2">
                                    <div [ngSwitch]="updateIcon">
                                        <div *ngSwitchCase="0">
                                            <img [src]="dataBlog.icon" class="img-thumbnail mx-auto d-block">
                                        </div>
                                        <div *ngSwitchCase="1">
                                            <img [src]="icon" class="img-thumbnail mx-auto d-block">
                                        </div>
                                        <div *ngSwitchCase="2">
                                            <img src="/../../../../assets/img/anime3.png" alt="">
                                        </div>
                                    </div>
                                    <div class="overlay" (click)="showIcon()">
                                        <div class="text text-light">
                                            <i class="tim-icons icon-upload"> </i>
                                            Editar icono para tu blog (opcional)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-7">
                                <h4 class="text-center">Portada del blog</h4>
                                <div class="container-image p-2">
                                    <div [ngSwitch]="updateBanner">
                                        <div *ngSwitchCase="0">
                                            <img [src]="dataBlog.banner" class="img-thumbnail mx-auto d-block">
                                        </div>
                                        <div *ngSwitchCase="1">
                                            <img [src]="banner" class="img-thumbnail mx-auto d-block">
                                        </div>
                                        <div *ngSwitchCase="2">
                                            <img src="/../../../../assets/img/anime3.png" alt="">
                                        </div>
                                    </div>
                                    <div class="overlay" (click)="showBanner()">
                                        <div class="text text-light">
                                            <i class="tim-icons icon-upload"> </i>
                                            Editar imagen o video a la portada
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class=" button-container pull-right">
                            <button type="submit" class="btn btn-warning">
                                Editar
                            </button>
                        </div>
                        <br><br>
                    </div>
                </form>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <h3>Artículos</h3>
                    </div>
                    <div *ngFor="let DataArticle of dataArticles; let i = index;">
                        <div class="col-12">
                            <br>
                            <hr>
                            <br>
                            <div class="row pl-1 pl-md-3">
                                <p>Artículo {{i+1}}</p>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-7">
                                    <label>Titulo</label>
                                    <input class="form-control" type="text"
                                        [(ngModel)]="articleTitle[i] = DataArticle.title"
                                        [ngModelOptions]="{standalone: true}" [value]="DataArticle.title">
                                    <div>
                                    </div>
                                    <label>Contenido del articulo</label>
                                    <textarea class="form-control rounded pl-2 pr-2" rows="6"
                                        [(ngModel)]="articleDescription[i] = DataArticle.description"
                                        [ngModelOptions]="{standalone: true}"
                                        [value]="DataArticle.description"></textarea>
                                </div>
                                <div class="col-12 col-md-5 mt-4 mb-4">
                                    <div class="container-image">
                                        <img [src]="DataArticle.image" class="img-thumbnail mx-auto d-block"
                                            *ngIf="!articleImage[i]; else noArticleImage">
                                        <ng-template #noArticleImage>
                                            <img [src]="articleImage[i]" class="mx-auto d-block img-thumbnail">
                                        </ng-template>
                                        <div class="overlay" (click)="showBlog(i)">
                                            <div class="text text-light">
                                                <i class="tim-icons icon-upload"> </i>
                                                Editar imagen o video al artículo
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <button class="btn btn-warning btn-sm pull-right" type="button"
                                        (click)="editArticle(DataArticle.id,i)">Editar articulo</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <form [formGroup]="articleForm">
                    <div formArrayName="newArticle">
                        <div *ngFor="let FormInputs of newArticle.controls; let i = index;">
                            <div [formGroupName]="i">
                                <div class="text-center">
                                    <h4>Nuevo artículo</h4>
                                </div>
                                <br />
                                <br />
                                <div class="row">
                                    <div class="col-12 col-md-5">
                                        <div class="container-image">
                                            <img src="../../../../assets/img/img_3115.jpg" alt="newArticleImage"
                                                width="100%" height="100%" class="d-block img-fluid"
                                                *ngIf="!newArticleImage[i]; else noNewArticleImage">
                                            <ng-template #noNewArticleImage>
                                                <img [src]="newArticleImage[i]" alt="" width="100%" height="100%"
                                                    class="d-block img-fluid">
                                            </ng-template>
                                            <div class="overlay" (click)="showNewArticle(i)">
                                                <div class="text text-light">
                                                    <i class="tim-icons icon-upload"> </i>
                                                    Agregar imagen o video al artículo
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-7">
                                        <label> Titulo </label>
                                        <input class=" form-control" placeholder="Coloca el titulo del artículo"
                                            formControlName="title" type="text">
                                        <div *ngIf="newArticle.controls[i].get('title').invalid && 
                                        newArticle.controls[i].get('title').touched">
                                            <small class="text-danger"> *El titulo es
                                                <strong>requerido</strong></small>
                                            <br>
                                            <br>
                                        </div>
                                        <label>Descripcion del articulo </label>
                                        <textarea class="form-control rounded pl-2 pr-2" [attr.id]="'Description' + i"
                                            placeholder="Coloca el contenido del articulo" rows="6"
                                            formControlName="description"></textarea>
                                        <small *ngIf="newArticle.controls[i].get('description').invalid && 
                                        newArticle.controls[i].get('description').touched" class="text-danger">
                                            *La descripcion es <strong>requerida</strong></small>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <hr color="red" />
                            </div>
                            <button (click)="removeArticle(i)"
                                            class="btn btn-danger btn-fab btn-icon btn-round float-left">
                                            <i class="tim-icons icon-simple-delete"></i>
                             </button>
                        </div>
                    </div>
                </form>
            </div>
            
                <div class=" button-container pull-right">
                    <button (click)="addArticle()" class="btn btn-primary btn-fab btn-icon btn-round float-right"
                        href="javascript:void(0)">
                        <i class="tim-icons icon-simple-add"></i>
                    </button>
                    <br>
                    <button *ngIf="add" class="btn btn-success btn-sm pull-right" type="button" (click)="post()"
                        [disabled]="newArticle.invalid">Agregar articulos</button>
                </div>
            
        </div>
    </div>
</div>
<ngx-ui-loader fgsColor='gray' fgsType='three-strings' overlayColor="rgba(24,31,46)" [text]="content">
</ngx-ui-loader>