<div class="content">
    <h3 class=" title mt-5 text-center">ENTRENADORES</h3>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4" *ngFor="let trainer of trainers">
                <div class=" card card-user">
                    <a [routerLink]="['/customer/trainer/view', trainer.id]">
                        <img class="card-img img-fluid" [src]="trainer.imageLection">
                        <div class="card-img-overlay">
                            <h3 class="card-title text-center">{{trainer.nameLection}}</h3>
                        </div>
                        <div class="card-body">
                            <div class="author">
                                    <img class="avatar" [src]="trainer.icon" />
                                    <h4 class=" title">{{trainer.names}}</h4>
                            </div>
                        </div>
                    </a>
                    <div class=" card-footer">
                        <div class=" button-container">
                            <app-share-button  type='facebook'
                            [shareUrl]="['customer/trainer/view/'+trainer.id]"></app-share-button>
                            <app-share-button  type='twitter'
                            [shareUrl]="['customer/trainer/view/'+trainer.id]"></app-share-button>
                            <app-share-button  type='google-plus'
                            [shareUrl]="['customer/trainer/view/'+trainer.id]"></app-share-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ngx-ui-loader fgsColor='gray' fgsType='three-strings' overlayColor="rgba(24,31,46)"></ngx-ui-loader>