<div class=" content">
    <div class=" row">
        <div class=" col-md-12">
            <div class="card card-user">
                <div class=" card-body">
                    <div style="text-align: center">
                        <h2>ENTRENADORES</h2>
                        <h5>Puedes añadir hasta 12 entrenadores</h5>
                    </div>
                    <br>
                    <br>
                    <hr>
                    <br>
                    <form>
                        <div class="row justify-content-center">
                            <div class="form-group col-md-3" >
                                <select id="modoServicio" class="form-control">
                                    <option selected>Modo de Servicio</option>
                                    <option>Presencial</option>
                                    <option>Online</option>
                                </select>
                            </div>
                        </div>
                        <br>
                        <hr>
                        <br>
                        <div class="row">
                            <div class="col-12 col-md-3">
                                <div class="container-image">
                                    <img src="../../../../assets/img/anime6.png" alt="trainerIcon" class="mx-auto d-block"
                                        *ngIf="!iconImage; else noIconImage">
                                    <ng-template #noIconImage>
                                        <img [src]="iconImage" alt="">
                                    </ng-template>
                                    <div class="overlay" (click)="showIcon()">
                                        <div class="text text-light">
                                            <i class="tim-icons icon-upload"> </i>
                                            Agregar icono a la categoria (opcional)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-9">
                                <div class="container-image">
                                    <img src="../../../../assets/img/anime6.png" alt="trainerPortrait" class="mx-auto d-block"
                                        *ngIf="!portraitImage; else noPortraitImage">
                                    <ng-template #noPortraitImage>
                                        <img [src]="portraitImage" alt="">
                                    </ng-template>
                                    <div class="overlay" (click)="showPortrait()">
                                        <div class="text text-light">
                                            <i class="tim-icons icon-upload"> </i>
                                            Agregar imagen para la portada
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <hr>
                        <br>
                        <div class="text-center">
                            <h5>Datos del entrenador</h5>
                        </div>
                        <div class="row justify-content-around">
                            <div class="col-12 col-md-5">
                                <label> Nombre del entrenador </label>
                                <input class=" form-control" placeholder="Coloca el nombre del entrenador" type="text"
                                    value="">
                                <label> Presentación </label>
                                <textarea class="form-control" id="trainerTextArea"
                                placeholder="Coloca el contenido del articulo"></textarea>
                            </div>
                            <div class="col-md-5">
                                <div class=" col-md-12 md-1">
                                    <div class="input-social form-group">
                                        <i class="tim-icons icon-email-85"></i>
                                        <input class="form-control" placeholder="Correo Electrónico" type="url">
                                    </div>
                                </div>
                                <div class=" col-md-12 md-1">
                                    <div class="input-social form-group">
                                        <i class="fab fa-whatsapp">
                                        </i>
                                        <input class="form-control" placeholder="WhatsApp" type="url">
                                    </div>
                                </div>
                                <div class=" col-md-12 md-1">
                                    <div class="input-social form-group">
                                        <i class="fab fa-telegram-plane"> </i>
                                        <input class="form-control" placeholder="Telegram" type="url">
                                    </div>
                                </div>
                                <div class=" col-md-12 md-1">
                                    <div class="input-social form-group">
                                        <i class="fab fa-facebook"> </i>
                                        <input class="form-control" placeholder="Facebook" type="url">
                                    </div>
                                </div>
                                <div class=" col-md-12 md-1">
                                    <div class="input-social form-group">
                                        <i class="fab fa-instagram"> </i>
                                        <input class="form-control" placeholder="Instagram" type="url">
                                    </div>
                                </div>
                                <div class=" col-md-12 md-1">
                                    <div class="input-social form-group">
                                        <i class="fab fa-youtube"> </i>
                                        <input class="form-control" placeholder="Youtube" type="url">
                                    </div>
                                </div>
                                <div class=" col-md-12 md-1">
                                    <div class="input-social form-group">
                                        <i class="fab fa-tiktok"></i>
                                        <input class="form-control" placeholder="TikTok" type="url">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <hr>
                        <br>
                        <div class="text-center">
                            <h5>Clase del entrenador</h5>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-5">
                                <label> Nombre de la clase </label>
                                <input class=" form-control" placeholder="Coloca el nombre de la clase" type="text"
                                    value="">
                                <label> Descripción de la clase </label>
                                <textarea class="form-control"
                                placeholder="Describa de que trata la clase"></textarea>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="container-image">
                                    <img src="../../../../assets/img/angular2-logo-red.png" alt="trainerCourseImg" class="mx-auto d-block"
                                        *ngIf="!courseImage; else noCourseImage">
                                    <ng-template #noCourseImage>
                                        <img [src]="courseImage" alt="">
                                    </ng-template>
                                    <div class="overlay" (click)="showCourse()">
                                        <div class="text text-light">
                                            <i class="tim-icons icon-upload"> </i>
                                            Agregar imagen de la clase
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-8">
                                <label> Titulo de Agradecimiento </label>
                                <input class=" form-control" placeholder="Coloca el titulo de agradecimiento" type="text"
                                    value="">
                                <label> Mensaje de agradecimiento </label>
                                <textarea class="form-control"
                                placeholder="Deja un mensaje de agradecimiento"></textarea>
                            </div>
                        </div>
                    </form> 
                </div>
            </div>
        </div>
    </div>
</div>
