<div class=" content">
    <div class=" row">
        <div class=" col-md-12">
            <div class="card">
                <form (ngSubmit)="post()">
                    <div class="card-body">
                        <div class="card-header text-center">
                            <h2>ENTRENADOR</h2>
                            <h5>Puedes añadir hasta 12 entrenadores</h5>
                        </div>
                        <br>
                        <hr>
                        <br>
                        <form [formGroup]="trainer">
                            <div class="row">
                                <div class="col-12 col-md-3">
                                    <h5 class="text-center">ICONO <strong>(dimensiones recomendadas "500 x 500
                                            px")</strong>
                                    </h5>
                                    <div class="container-image">
                                        <img src="../../../../assets/img/img_3115.jpg" class="mx-auto d-block"
                                            *ngIf="!icon; else noIcon">
                                        <ng-template #noIcon>
                                            <img [src]="icon" alt="">
                                        </ng-template>
                                        <div class="overlay" (click)="showIcon()">
                                            <div class="text-icon text-light">
                                                <span>
                                                    <i class="tim-icons icon-upload"> </i>
                                                    ICONO <strong>(dimensiones recomendadas "500 x 500 px")</strong>
                                                </span>
                                                <p>¡ haga click aqui !</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-9 text-center">
                                    <h5 class="text-center">POSTER <strong>(dimensiones recomendadas "1920 x 1080
                                            px")</strong></h5>
                                    <div class="container-image">
                                        <img src="../../../../assets/img/banner.png" alt="trainerPortrait"
                                            class="mx-auto d-block" *ngIf="!banner; else noBanner">
                                        <ng-template #noBanner>
                                            <img [src]="banner" alt="">
                                        </ng-template>
                                        <div class="overlay" (click)="showBanner()">
                                            <div class="text text-light">
                                                <div>
                                                    <i class="tim-icons icon-upload"> </i>
                                                    POSTER <strong>(dimensiones recomendadas "1920 x 1080
                                                        px")</strong>
                                                </div>
                                                <p>¡ haga click aqui !</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <hr />
                            <br />
                            <div class="text-center">
                                <h5>Datos del entrenador</h5>
                            </div>
                            <div class="row justify-content-around">
                                <div class="col-12 col-md-5">
                                    <div class="form-group">
                                        <label> Nombre del entrenador</label>
                                        <input class="form-control" placeholder="Coloca el nombre del entrenador"
                                            type="text" formControlName="names">
                                        <small *ngIf="names.invalid && (names.touched||names.dirty)"
                                            class="text-danger"> *El nombre es <strong>requerido</strong><br></small>
                                    </div>
                                    <div class="input-icon form-group">
                                        <label>Presentación</label>
                                        <textarea class="form-control" id="trainerTextArea"
                                            placeholder="Coloca el contenido del articulo"
                                            formControlName="description"></textarea>
                                        <small *ngIf="description.invalid && (description.touched||description.dirty)"
                                            class="text-danger"> *La presentacion es <strong>Requerida</strong></small>
                                    </div>
                                </div>
                                <div class="col-md-5" [formGroup]="social">
                                    <div class=" col-md-12 md-1">
                                        <div class="input-icon form-group">
                                            <i class="tim-icons icon-email-85"></i>
                                            <input class="form-control" placeholder="Correo Electrónico" type="url"
                                                formControlName="email" style="padding-left: 33px;">
                                            <small *ngIf="email.invalid && (email.touched||email.dirty)"
                                                class="text-danger"> *Debe ser una direccion de correo
                                                electronico</small>
                                        </div>
                                    </div>
                                    <div class=" col-md-12 md-1">
                                        <div class="input-icon form-group">
                                            <i class="fab fa-whatsapp">
                                            </i>
                                            <input class="form-control"
                                                placeholder="Número Internacional (sólo números)" type="url"
                                                formControlName="whatsapp" ngbTooltip="Ejemplo: 59177777777"
                                                style="padding-left: 33px;">
                                        </div>
                                    </div>
                                    <div class=" col-md-12 md-1">
                                        <div class="input-icon form-group">
                                            <i class="fab fa-telegram-plane"> </i>
                                            <input class="form-control" placeholder="nombre usuario" type="url"
                                                style="padding-left: 33px;"
                                                ngbTooltip="Recuerde ingresar su nombre de usuario de telegram"
                                                formControlName="telegram">
                                        </div>
                                    </div>
                                    <div class=" col-md-12 md-1">
                                        <div class="input-icon form-group">
                                            <i class="fab fa-facebook-f"> </i>
                                            <input class="form-control"
                                                placeholder="https://www.facebook.com/nombre_usuario" type="url"
                                                style="padding-left: 33px;" [ngbTooltip]="tipContent"
                                                formControlName="facebook">
                                        </div>
                                    </div>
                                    <div class=" col-md-12 md-1">
                                        <div class="input-icon form-group">
                                            <i class="fab fa-instagram"> </i>
                                            <input class="form-control"
                                                placeholder="https://www.instagram.com/nombre_usuario" type="url"
                                                style="padding-left: 33px;" [ngbTooltip]="tipContent"
                                                formControlName="instagram">
                                        </div>
                                    </div>
                                    <div class=" col-md-12 md-1">
                                        <div class="input-icon form-group">
                                            <i class="fab fa-youtube"> </i>
                                            <input class="form-control"
                                                placeholder="https://www.youtube.com/channel/código" type="url"
                                                style="padding-left: 33px;" [ngbTooltip]="tipContent"
                                                formControlName="youtube">
                                        </div>
                                    </div>
                                    <div class=" col-md-12 md-1">
                                        <div class="input-icon form-group">
                                            <i class="fab fa-tiktok"></i>
                                            <input class="form-control"
                                                placeholder="https://www.tiktok.com/nombre_usuario" type="url"
                                                style="padding-left: 33px;" [ngbTooltip]="tipContent"
                                                formControlName="tiktok">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <hr>
                            <br>
                        </form>
                        <form [formGroup]="lection">
                            <div class="text-center">
                                <h5>Clase del entrenador</h5>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-12 col-md-5">
                                    <label> Nombre de la clase </label>
                                    <input class=" form-control" placeholder="Coloca el nombre de la clase" type="text"
                                        formControlName="name">
                                    <small *ngIf="name.invalid && name.touched" class="text-danger"> *El nombre de la
                                        clase es <strong>requerida</strong><br></small>
                                    <br>
                                    <label> Modo de la clase </label>
                                    <select class="form-control" formControlName="mode">
                                        <option>presencial</option>
                                        <option>virtual</option>
                                    </select>
                                    <small *ngIf="mode.invalid && mode.touched" class="text-danger"> *El modo de la
                                        clase es <strong>requerida</strong><br></small>
                                    <br>
                                    <label> Descripción de la clase </label>
                                    <textarea class="form-control" placeholder="Describa de que trata la clase"
                                        formControlName="description"></textarea>
                                    <small
                                        *ngIf="lection.get('description').invalid && lection.get('description').touched"
                                        class="text-danger"> *La descripcion es <strong>requerida</strong><br></small>
                                    <br>
                                </div>
                                <div class="col-12 col-md-3">
                                    <h5 class="text-center">IMAGEN DE LA CLASE <strong>(dimensiones recomendadas 900px x 900px)</strong></h5>
                                    <div class="container-image">
                                        <img src="../../../../assets/img/image-class.jpg" class="mx-auto d-block"
                                            *ngIf="!image; else noImage">
                                        <ng-template #noImage>
                                            <img [src]="image" class="mx-auto d-block">
                                        </ng-template>
                                        <div class="overlay" (click)="showImage()">
                                            <div class="text-icon text-light">
                                                <span>
                                                    <i class="tim-icons icon-upload"> </i>
                                                    CLASE <strong>(dimensiones recomendadas 900px x 900px)</strong>
                                                </span>
                                                <p>¡ haga click aqui !</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-12 col-md-8">
                                    <label> Titulo de Agradecimiento </label>
                                    <input class="form-control" placeholder="Coloca el titulo de agradecimiento"
                                        type="text" formControlName="titleGratitude">
                                    <small *ngIf="titleGratitude.invalid && titleGratitude.touched" class="text-danger">
                                        *El titulo es <strong>requerido</strong><br></small>
                                    <br>
                                    <label> Mensaje de agradecimiento </label>
                                    <textarea class="form-control" placeholder="Deja un mensaje de agradecimiento"
                                        formControlName="descriptionGratitude"></textarea>
                                    <small *ngIf="descriptionGratitude.invalid && descriptionGratitude.touched"
                                        class="text-danger"> *El mensaje es <strong>requerido</strong><br></small>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <div class="button-container pull-right">
                            <button type="submit" class="btn btn-info" [disabled]="trainer.invalid || lection.invalid">
                                Guardar
                            </button>
                            <br>
                            <br>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<ng-template #tipContent>Recuerde que debe tener un <b>formato de url.</b> Para que funcione correctamente copie su url
</ng-template>
<ngx-ui-loader fgsColor='gray' fgsType='double-bounce' overlayColor="rgba(24,31,46)" text="Creando entrenador ...">
</ngx-ui-loader>
