<div class=" content">
    <div class=" row">
        <div class=" col-md-12">
            <div class="card card-user">
                <div class=" card-body">
                    <div class="card-title">
                        <h2 class="text-center">CATEGORIA</h2>
                    </div>
                    <br>
                    <br>
                    <hr color="purple" width="80%">
                    <br>
                    <form #form="ngForm" (ngSubmit)="edit()">
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-7">
                                <label> Nombre de la categoria </label>
                                <input class=" form-control" placeholder="Nombre de la categoria" type="text" value=""
                                    [(ngModel)]="editedStore.title" [ngModelOptions]="{standalone: true}"
                                    [value]="storeData.title">
                                <label> Descripcion de la categoria </label>
                                <textarea class=" form-control" cols="80"
                                    placeholder="Coloca la descripcion de tu tienda" rows="4"
                                    [(ngModel)]="editedStore.description" [ngModelOptions]="{standalone: true}"
                                    [value]="storeData.description"></textarea>
                            </div>
                            <div class="col-12 col-md-3 ">
                                <h5 class="text-center md-0">Icono</h5>
                                <div class="container-image">
                                    <div [ngSwitch]="updateIcon">
                                        <div *ngSwitchCase="0">
                                          <img [src]="storeData.icon" class="img-thumbnail mx-auto d-block">
                                        </div>
                                        <div *ngSwitchCase="1">
                                          <img [src]="icon" class="img-thumbnail mx-auto d-block">
                                        </div>
                                        <div *ngSwitchCase="2">
                                          <img src="/../../../../assets/img/anime3.png" alt="" class="img-thumbnail mx-auto d-block">
                                        </div>
                                      </div>
                                    <div class="overlay" (click)="showIcon()">
                                        <div class="text text-light">
                                            <i class="tim-icons icon-upload"> </i>
                                            Editar icono
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <h5 class="text-center md-0">Portada</h5>
                                <div class="container-image">
                                    <div [ngSwitch]="updateImage">
                                        <div *ngSwitchCase="0">
                                          <img [src]="storeData.image" class="img-thumbnail mx-auto d-block">
                                        </div>
                                        <div *ngSwitchCase="1">
                                          <img [src]="image" class="img-thumbnail mx-auto d-block">
                                        </div>
                                        <div *ngSwitchCase="2">
                                          <img src="/../../../../assets/img/anime3.png" alt="" class="img-thumbnail mx-auto d-block">
                                        </div>
                                      </div>
                                    <div class="overlay" (click)="showImage()">
                                        <div class="text text-light">
                                            <i class="tim-icons icon-upload"> </i>
                                            Cambiar imagen o link
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class=" button-container pull-right">
                            <button type="submit" class="btn btn-warning">
                                Editar
                            </button>
                        </div>
                        <br>
                        <br>
                    </form>
                    <br>
                    <hr color="red">
                    <br>
                    <div style="text-align: center">
                        <h4>Productos de tu tienda</h4>
                    </div>
                    <br>
                    <form *ngFor="let product of productData; let i = index;">
                        <div class="row pl-1 pl-md-3">
                            <p>Producto {{i+1}}</p>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-3">
                                <div class="container-image">
                                    <img [src]="product.image" alt="ProductImage" class="mx-auto d-block"
                                        *ngIf="!productImage[i]; else noProductImage">
                                    <ng-template #noProductImage>
                                        <img [src]="productImage[i]" alt="">
                                    </ng-template>
                                    <div class="overlay" (click)="showProduct(i)">
                                        <div class="text text-light">
                                            <i class="tim-icons icon-upload"> </i>
                                            Cambiar imagen del producto
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <label> Nombre del producto </label>
                                <input class=" form-control" 
                                [(ngModel)]="productName[i] = product.name"
                                [ngModelOptions]="{standalone: true}"placeholder="Nombre del producto" type="text"
                                    [value]="product.name">
                                <label> Precio del producto </label>
                                <input class=" form-control" [(ngModel)]="productPrice[i] = product.price"
                                [ngModelOptions]="{standalone: true}"placeholder="Precio del producto"type="text"
                                 [value]="product.price">
                                <label> Cantidad de productos disponible </label>
                                <input class=" form-control" [(ngModel)]="productAmount[i] = product.amount"
                                [ngModelOptions]="{standalone: true}"placeholder="Cantidad del producto"type="text" 
                                [value]="product.amount">
                                <label> Descripcion del producto </label>
                                <textarea class=" form-control" cols="80" rows="4"
                                [(ngModel)]="productDescription[i] = product.description"
                                [ngModelOptions]="{standalone: true}"placeholder="Nombre del producto"
                                [value]="product.description"></textarea>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="form-group col-md-4">
                                <label> Precio extra del producto </label>
                                <input class=" form-control" [(ngModel)]="productAddPrice[i] = product.additionalPrice"
                                [ngModelOptions]="{standalone: true}" placeholder="Precio extra del producto"
                                    type="text" [value]="product.additionalPrice">
                                <label> Descripción extra del producto </label>
                                <textarea class=" form-control" cols="80" rows="20"
                                [(ngModel)]="productAddDescription[i] = product.addtionalDescription"
                                [ngModelOptions]="{standalone: true}" placeholder="Datos extra del producto"
                                [value]="product.addtionalDescription"></textarea>
                            </div>
                            <div class="col-md-6">
                                <div *ngFor="let feature of product.additionalFeatures; let j = index;">
                                    <label>Caracteristica {{j+1}}</label>
                                    <input (change)="changeFeature($event,i,j)" class="form-control"  type="text"
                                    [value]="feature">
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <button class="btn btn-warning btn-sm pull-right" type="button"
                        (click)="editProduct(product.id,i)">Editar produto</button>
                        <br>
                        <br>
                    </form>
                    <hr color='red'>
                    <div style="text-align: center">
                        <h4>AÑADIR NUEVO PRODUCTO</h4>
                    </div>
                    <br>
                    <form [formGroup]="productForm">
                        <div formArrayName="newProduct">
                            <div *ngFor="let FormInputs of newProduct.controls; let j = index;">
                                <br>
                                <div [formGroupName]="j">
                                    <div class="row justify-content-center">
                                        <div class="col-12 col-md-3">
                                            <div class="container-image">
                                                <img src="../../../../assets/img/emilyz.jpg" alt="ProductImage"
                                                    class="mx-auto d-block"
                                                    *ngIf="!newProductImage[j]; else noProductImage">
                                                <ng-template #noProductImage>
                                                    <img [src]="newProductImage[j]" class="mx-auto d-block">
                                                </ng-template>
                                                <div class="overlay" (click)="showNewProduct(j)">
                                                    <div class="text text-light">
                                                        <i class="tim-icons icon-upload"> </i>
                                                        Agregar imagen del producto
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-9">
                                            <label> Nombre del producto </label>
                                            <input class=" form-control" [attr.id]="'name' + j"
                                                placeholder="Nombre del producto" type="text" formControlName="name">
                                            <div *ngIf="newProduct.controls[j].get('name').invalid && 
                                            newProduct.controls[j].get('name').touched">
                                                <small class="text-danger"> *Espacio <strong>requerido</strong></small>
                                                <br>
                                            </div>
                                            <br>
                                            <label> Precio del producto </label>
                                            <input class=" form-control" placeholder="Precio del producto" type="text"
                                                formControlName="price">
                                            <div *ngIf="newProduct.controls[j].get('price').invalid && 
                                            newProduct.controls[j].get('price').touched">
                                                <small class="text-danger"> *Espacio <strong>requerido</strong></small>
                                                <br>
                                            </div>
                                            <br>
                                            <label> Cantidad de productos disponible </label>
                                            <input class=" form-control" placeholder="Cantidad de productos disponible"
                                                type="number" formControlName="amount">
                                            <div *ngIf="newProduct.controls[j].get('amount').invalid && 
                                            newProduct.controls[j].get('amount').touched">
                                                <small class="text-danger"> *Espacio <strong>requerido</strong></small>
                                                <br>
                                            </div>
                                            <br>
                                            <label> Descripcion del producto </label>
                                            <textarea class=" form-control" cols="80"
                                                placeholder="Coloca la descripcion del producto" rows="4"
                                                formControlName="description"></textarea>
                                            <div *ngIf="newProduct.controls[j].get('description').invalid && 
                                            newProduct.controls[j].get('description').touched">
                                                <small class="text-danger"> *Espacio <strong>requerido</strong></small>
                                                <br>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <br>
                                    <div class="text-center">
                                        <h5> Puedes añadir datos adicionales y hasta 3 caracteristicas del producto</h5>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="form-group col-md-4">
                                            <label> Precio extra del producto </label>
                                            <input class=" form-control" placeholder="Precio extra del producto"
                                                type="text" value="" formControlName="additionalPrice">
                                            <label> Descripción extra del producto </label>
                                            <textarea class=" form-control" cols="80"
                                                placeholder="Datos extra del producto" rows="20"
                                                formControlName="addtionalDescription"></textarea>
                                        </div>
                                        <div class="col-md-6" formArrayName="additionalFeatures">
                                            <div
                                                *ngFor="let featuresData of FormInputs.get('additionalFeatures')['controls']; let k=index">
                                                <label>Caracteristica {{k+1}}</label>
                                                <input class="form-control" type="text" [formControlName]="k">
                                                <button (click)="removeFeature(FormInputs.get('additionalFeatures'),k,j)"
                                                    class="btn btn-warning btn-sm btn-fab btn-icon btn-round">
                                                    <i class="tim-icons icon-simple-delete"></i>
                                                </button>
                                            </div>
                                            <button (click)="addFeature(FormInputs.get('additionalFeatures'),j)"
                                            [disabled]="btnAddFeature[j]" class="btn-primary btn-round float-right">
                                                <i class="tim-icons icon-simple-add"></i> Agregar Caracteristica
                                            </button>
                                        </div>
                                        <br>
                                        <br>
                                    </div>
                                    <br>
                                    <hr>
                                    <button (click)="removeProduct(j)"
                                        class="btn btn-danger btn-fab btn-icon btn-round float-left">
                                        <i class="tim-icons icon-simple-delete"></i>
                                    </button>
                                </div>
                            </div>
                            <div class=" button-container">
                                <button (click)="addProduct()"
                                    [disabled]="btnAddProduct" class="btn btn-primary btn-fab btn-icon btn-round float-right">
                                    <i class="tim-icons icon-simple-add"></i>
                                </button>
                                <br>
                            </div>
                        </div>
                    </form>
                    <br>
                    <br>
                    <button *ngIf="btnPostProduct" class="btn btn-success btn-sm pull-right" type="button" (click)="post()"
                    [disabled]="newProduct.invalid">Agregar productos</button>
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-ui-loader fgsColor='gray' fgsType='three-strings' overlayColor="rgba(24,31,46)" [text]="content"></ngx-ui-loader>