<div class=" content">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <h5 class=" title">Lista de Usuarios</h5>
                </div>
            </div>
        </div>
        <br />
        <div class="col-md-12">
            <div class="row">
                <div class=" col-md-4">
                    <div class="card card-user">
                        <div class="btn-card-action">
                            <button class="btn m-1 btn-icon btn-danger btn-round pull-right clickable">
                                <i class="far fa-trash-alt"></i>
                            </button>
                            <button [routerLink]="['/user/edit', 23]"
                                class="btn m-1 btn-icon btn-round btn-warning pull-right clickable">
                                <i class="fas fa-pencil-alt"></i>
                            </button>
                        </div>
                        <div class="card-body">
                            <div class=" author">
                                <div class=" block block-one"></div>
                                <div class=" block block-two"></div>
                                <div class=" block block-three"></div>
                                <div class=" block block-four"></div>
                                <a href="javascript:void(0)">
                                    <img alt="..." class=" avatar" src="assets/img/emilyz.jpg" />

                                    <h5 class=" title">Mike Andrew</h5>
                                </a>
                                <p class=" description">Ceo/Co-Founder</p>
                            </div>
                        </div>
                        <div class=" card-footer">
                            <div class=" button-container">
                                <button class=" btn btn-icon btn-round btn-facebook" href="javascript:void(0)">
                                    <i class=" fab fa-facebook"> </i>
                                </button>
                                <button class=" btn btn-icon btn-round btn-twitter" href="javascript:void(0)">
                                    <i class=" fab fa-twitter"> </i>
                                </button>
                                <button class=" btn btn-icon btn-round btn-google" href="javascript:void(0)">
                                    <i class=" fab fa-google-plus"> </i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-md-4">
                    <div class="card card-user">
                        <div class="btn-card-action">
                            <button class="btn m-1 btn-icon btn-danger btn-round pull-right clickable">
                                <i class="far fa-trash-alt"></i>
                            </button>
                            <button [routerLink]="['/user/edit', 23]"
                                class="btn m-1 btn-icon btn-round btn-warning pull-right clickable">
                                <i class="fas fa-pencil-alt"></i>
                            </button>
                        </div>
                        <div class="card-body">
                            <div class=" author">
                                <div class=" block block-one"></div>
                                <div class=" block block-two"></div>
                                <div class=" block block-three"></div>
                                <div class=" block block-four"></div>
                                <a href="javascript:void(0)">
                                    <img alt="..." class=" avatar" src="assets/img/emilyz.jpg" />

                                    <h5 class=" title">Mike Andrew</h5>
                                </a>
                                <p class=" description">Ceo/Co-Founder</p>
                            </div>
                        </div>
                        <div class=" card-footer">
                            <div class=" button-container">
                                <button class=" btn btn-icon btn-round btn-facebook" href="javascript:void(0)">
                                    <i class=" fab fa-facebook"> </i>
                                </button>
                                <button class=" btn btn-icon btn-round btn-twitter" href="javascript:void(0)">
                                    <i class=" fab fa-twitter"> </i>
                                </button>
                                <button class=" btn btn-icon btn-round btn-google" href="javascript:void(0)">
                                    <i class=" fab fa-google-plus"> </i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-md-4">
                    <div class="card card-user">
                        <div class="btn-card-action">
                            <button class="btn m-1 btn-icon btn-danger btn-round pull-right clickable">
                                <i class="far fa-trash-alt"></i>
                            </button>
                            <button [routerLink]="['/user/edit', 23]"
                                class="btn m-1 btn-icon btn-round btn-warning pull-right clickable">
                                <i class="fas fa-pencil-alt"></i>
                            </button>
                        </div>
                        <div class="card-body">
                            <div class=" author">
                                <div class=" block block-one"></div>
                                <div class=" block block-two"></div>
                                <div class=" block block-three"></div>
                                <div class=" block block-four"></div>
                                <a href="javascript:void(0)">
                                    <img alt="..." class=" avatar" src="assets/img/emilyz.jpg" />

                                    <h5 class=" title">Mike Andrew</h5>
                                </a>
                                <p class=" description">Ceo/Co-Founder</p>
                            </div>
                        </div>
                        <div class=" card-footer">
                            <div class=" button-container">
                                <button class=" btn btn-icon btn-round btn-facebook" href="javascript:void(0)">
                                    <i class=" fab fa-facebook"> </i>
                                </button>
                                <button class=" btn btn-icon btn-round btn-twitter" href="javascript:void(0)">
                                    <i class=" fab fa-twitter"> </i>
                                </button>
                                <button class=" btn btn-icon btn-round btn-google" href="javascript:void(0)">
                                    <i class=" fab fa-google-plus"> </i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>