<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-user">
        <div class="card-body">
          <div class="author">
            <div class="card-header text-center">
              <h2 class="card-title"><b>CONTENIDO</b></h2>
              <p class="card-text">
                Puedes añadir hasta 4 promociones que se podrá ver en la pagina <br>
                principal, y aparecerán como anuncios en las demás páginas.
              </p>
            </div>
          </div>
          <hr color="purple" width="90%" />
          <br>
          <form>
            <div class="form-group">
              <div class="row">
                <div class="col-12 col-md-12 text-left">
                  <h1 class="display-4">Promoción 1</h1>
                  <div class="font-icon-detail">
                    <b>Agregar la imagen o video para la portada de la categoría </b>
                    <br />
                    <i class="tim-icons icon-upload"> </i>
                  </div>
                </div>
                <hr color="purple" width="90%" />
                <br>
                <div class="col-12 col-md-12 text-left">
                  <h1 class="display-4">Promoción 2</h1>
                  <div class="font-icon-detail">
                    <b>Agregar la imagen o video para la portada de la categoría</b>
                    <br />
                    <i class="tim-icons icon-upload"> </i>
                  </div>
                </div>
                <hr color="purple" width="90%" />
                <br>
                <div class="col-12 col-md-12 text-left">
                  <h1 class="display-4">Promoción 3</h1>
                  <div class="font-icon-detail">
                    <b>Agregar la imagen o video para la portada de la categoría</b>
                    <br />
                    <i class="tim-icons icon-upload"> </i>
                  </div>
                </div>
                <hr color="purple" width="90%" />
                <br>
                <div class="col-12 col-md-12 text-left">
                  <h1 class="display-4">Promoción 4</h1>
                  <div class="font-icon-detail">
                    <b>Agregar la imagen o video para la portada de la categoría</b>
                    <br />
                    <i class="tim-icons icon-upload"> </i>
                  </div>
                </div>
              </div>
              <div class="text-right">
                <button type="submit" class="btn btn-info">Guardar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
