<form [formGroup]="appointment" (ngSubmit)="post()">
    <div class="form-group">
      <div class="modal-content">
        <div class="row">
          <div class="col-10">
            <div class="modal-header">
              <h3>{{ title }}</h3>
            </div>
          </div>
          <div class="col text-center">
            <br />
            <i
              class="fas fa-times-circle fa-lg"
              (click)="close()"
              ngbTooltip="cerrar"
            ></i>
          </div>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-12 col-md-12">
                    <label> Correo </label>
                    <input class=" form-control"
                        placeholder="correo@correo.com" formControlName="email"
                        type="text">
                        <label> Asunto </label>
                    <input class=" form-control"
                        placeholder="Coloca el asunto de tu mensaje" formControlName="issue"
                        type="text">
                    <label>Mensaje </label>
                    <textarea class="form-control rounded pl-2 pr-2"
                        placeholder="Coloca tu mensaje" rows="6"
                        formControlName="message" value=""></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button
            type="submit"
            class="btn btn-primary pull-right"
            [disabled]="appointment.invalid"
            (click)="confirm()"
          >
            Enviar
          </button>
        </div>
      </div>
    </div>
  </form>
  