.login {
  margin-right: -40px;
  margin-top: 3px;
  margin-left: 0px;
}

.register {
  margin-top: 3px;
}

.username {
  margin-left: 5px;
  margin-right: 3px;
}

.caret {
  margin-left: 6px;
}

.title {
  margin-top: 10px;
  cursor: pointer;
}

.logOut {
  cursor: pointer;
}

.cart-badge {
  width: 7px;
  height: 7px;
  position: absolute;
  border-radius: 50%;
}

.icon {
    border-radius: 80px;
    height: 110px;
    border-radius: 77px;
    width: 110px;
    margin-top: 12px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
}