.login {
    margin-right: -40px;
    margin-top: 3px;
    margin-left: 0px;
}

.register {
    margin-top: 3px;
}

.username {
    margin-left: 5px;
    margin-right: 3px;
}

.caret {
    margin-left: 6px;
}