<nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <div class="navbar-toggle d-inline">
                <button class=" navbar-toggler" type="button" (click)="sidebarToggle()">
                    <span class=" navbar-toggler-bar bar1"> </span>
                    <span class=" navbar-toggler-bar bar2"> </span>
                    <span class=" navbar-toggler-bar bar3"> </span>
                </button>
            </div>
                <!-- <img class="float-left icon" routerLink="/" [src]="icon" /> -->
        </div>
        <button aria-label="Toggle navigation" class="navbar-toggler" (click)="collapse()"
            [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample" id="navigation" type="button">
            <span class=" navbar-toggler-bar navbar-kebab"> </span>
            <span class=" navbar-toggler-bar navbar-kebab"> </span>
            <span class=" navbar-toggler-bar navbar-kebab"> </span>
        </button>
        <div class="navbar-collapse" [ngbCollapse]="isCollapsed" id="navigation">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/customer/service/list">SERVICIOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/customer/store/list">TIENDA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/customer/trainer/list">ENTRENADORES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/customer/blog/list">BLOG</a>
                </li>
                <li class="nav-item" ngbDropdown *ngIf="status">
                    <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)" ngbDropdownToggle>
                        <div class="theme d-none d-lg-block d-xl-block"></div>
                        <i class="tim-icons icon-palette"></i>
                        <p class="d-lg-none">Temas</p>
                    </a>
                    <ul class="dropdown-menu-right dropdown-navbar" ngbDropdownMenu>
                      <li class="nav-link">
                        <a class="nav-item" href="javascript:void(0)" (click)="changeDashboardColor('white-content', 'blue')"
                          ngbDropdownItem>
                          light theme
                        </a>
                      </li>
                      <li class="nav-link">
                        <a class="nav-item" href="javascript:void(0)" (click)="changeDashboardColor('black-content', 'red')"
                          ngbDropdownItem>
                          dark theme
                        </a>
                      </li>
                      <li class="nav-link">
                        <a class="nav-item" href="javascript:void(0)" (click)="changeDashboardColor('white-content', 'purple')"
                          ngbDropdownItem>
                          purple theme
                        </a>
                      </li>
                      <li class="nav-link">
                        <a class="nav-item" href="javascript:void(0)" (click)="changeDashboardColor('black-content', 'yellow')"
                          ngbDropdownItem>
                          yellow theme
                        </a>
                      </li>
                    </ul>
                  </li>
                <li class="nav-item" *ngIf="user && role != 'admin' && status">
                    <a class="nav-link" routerLink="/customer/store/cart">
                        <i class="tim-icons icon-cart"></i>
                        <span *ngIf="totalItem != 0" class="cart-badge badge-danger"></span>
                    </a>
                </li>
                <li class="nav-item" ngbDropdown *ngIf="user && status">
                    <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)" ngbDropdownToggle>
                      <div class=" notification d-none d-lg-block d-xl-block"></div>
                      <i class=" tim-icons icon-bell-55"> </i>
                      <p class=" d-lg-none">Notifications</p>
                    </a>
                    <ul class=" dropdown-menu-right dropdown-navbar" ngbDropdownMenu>
                      <li class=" nav-link">
                        <a class=" nav-item" routerLink="home" ngbDropdownItem>
                          Mike John responded to your email
                        </a>
                      </li>
                      <li class="nav-link">
                        <a class="nav-item" href="javascript:void(0)" ngbDropdownItem>
                          You have 5 more tasks
                        </a>
                      </li>
                      <li class="nav-link">
                        <a class="nav-item" href="javascript:void(0)" ngbDropdownItem>
                          Your friend Michael is in town
                        </a>
                      </li>
                      <li class="nav-link">
                        <a class="nav-item" href="javascript:void(0)" ngbDropdownItem>
                          Another notification
                        </a>
                      </li>
                      <li class="nav-link">
                        <a class="nav-item" href="javascript:void(0)" ngbDropdownItem>
                          Another one
                        </a>
                      </li>
                    </ul>
                  </li>
                <li class="nav-item" ngbDropdown *ngIf="status">
                    <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)" ngbDropdownToggle>
                        <div class="user">
                            <div class="photo">
                                <img [src]="image" *ngIf="image; else noImage">
                                <ng-template #noImage>
                                    <img src="assets/img/anime3.png" alt="">
                                </ng-template>
                            </div>
                            <span class="username text-uppercase">{{user?.username}}</span>
                            <b class="caret d-none d-lg-block d-xl-block"> </b>
                        </div>
                        <p class="d-lg-none">Log out</p>
                    </a>
                    <ul class="dropdown-navbar" ngbDropdownMenu>
                        <li class="nav-link" *ngIf="role == 'customer'">
                            <a class="nav-item text-dark" routerLink="/customer/view" ngbDropdownItem>
                                Perfil
                            </a>
                        </li>
                        <li class="nav-link" *ngIf="role == 'admin'">
                            <a class="nav-item text-dark" routerLink="/user/view" ngbDropdownItem>
                                Perfil
                            </a>
                        </li>
                        <li class="nav-link" *ngIf="role == 'admin'">
                            <a class="nav-item text-dark" routerLink="/dashboard" ngbDropdownItem>
                                administrador
                            </a>
                        </li>
                        <li class="nav-link">
                            <a class="nav-item text-dark" routerLink="/customer/activity" ngbDropdownItem>
                                Actividades
                            </a>
                        </li>
                        <li class="nav-link">
                            <a class="nav-item text-dark" routerLink="/customer/shopping" ngbDropdownItem>
                                Compras
                            </a>
                        </li>
                        <li class="dropdown-divider"></li>
                        <li class="nav-link">
                            <a class="nav-item text-dark logOut" ngbDropdownItem (click)="logOut()">
                                Cerrar Sesion
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" *ngIf="!status">
                    <button type="button" class="btn btn-danger btn-sm register"
                        routerLink="/register">REGISTRARSE</button>
                </li>
                <li class="nav-item" *ngIf="!status">
                    <button type="button" class="btn btn-info btn-sm login" routerLink="/login">INICIAR SESION</button>
                </li>
            </ul>
        </div>
    </div>
</nav>
<ng-template #content let-modal>
    <div class=" modal-header">
        <input class=" form-control" id="inlineFormInputGroup" placeholder="SEARCH" type="text" />
        <button aria-label="Close" class=" close" data-dismiss="modal" type="button"
            (click)="modal.dismiss('Cross click')">
            <i class=" tim-icons icon-simple-remove"> </i>
        </button>
    </div>
</ng-template>