<div class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center title">Crear Perfil</h2>
                </div>
                <form [formGroup]="user" (ngSubmit)="post()">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2">
                            </div>
                            <div class="col-4">
                                <div class="container-image">
                                    <img src="../../../../assets/img/anime3.png" alt="Avatar" class="mx-auto d-block"
                                        *ngIf="!imageProfile; else noImage">
                                    <ng-template #noImage>
                                        <img [src]="imageProfile" class="mx-auto d-block">
                                    </ng-template>
                                    <div class="overlay">
                                        <p class="text text-light" (click)="imageCropper()">cargar imagen</p>
                                    </div>
                                </div>
                                <p class="text-center">imagen de perfil</p>
                            </div>
                            <div class="col-4">
                                <div class="container-image">
                                    <img src="../../../../assets/img/anime3.png" alt="Avatar" class="mx-auto d-block"
                                        *ngIf="!imageProfile; else noIcon">
                                    <ng-template #noIcon>
                                        <img [src]="icon" class="mx-auto d-block">
                                    </ng-template>
                                    <div class="overlay">
                                        <p class="text text-light" (click)="showIcon()">cargar icono</p>
                                    </div>
                                </div>
                                <p class="text-center">icono de portada</p>
                            </div>
                            <div class="col-2"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="col-md-12 md-1">
                                    <div class="form-group">
                                        <label>Nombres</label>
                                        <input class="form-control" placeholder="Nombres" type="text"
                                            formControlName="names" />
                                    </div>
                                    <div *ngIf="names.invalid && (names.dirty || names.touched)">
                                        <span *ngIf="names.errors.required" class="text-danger">El nombre es <strong>requerido</strong></span>
                                        <br>
                                        <br>
                                    </div>
                                </div>
                                <div class=" col-md-12 md-1">
                                    <div class=" form-group">
                                        <label>Apellidos</label>
                                        <input class="form-control" placeholder="Apellidos" type="text" formControlName="lastName" />
                                    </div>
                                    <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
                                        <span *ngIf="lastName.errors.required" class="text-danger">El apellido es <strong>requerido</strong></span>
                                        <br>
                                        <br>
                                    </div>
                                </div>
                                <div class=" col-md-12 md-1">
                                    <div class=" form-group">
                                        <label> Identificador (ID herbalife) </label>
                                        <input class="form-control" placeholder="ID herbalife" type="text" formControlName="idHerbalife" />
                                    </div>
                                </div>
                                <div class=" col-md-12 md-1">
                                    <div class=" form-group">
                                        <label>Nivel de Herbalife </label>
                                        <input class="form-control" placeholder="Nivel de Herbalife" type="text" formControlName="levelHerbalife"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mt-4">
                                <div formGroupName="socialMedia">
                                <div class=" col-md-12 md-1">
                                    <div class="input-social form-group">
                                        <i class="tim-icons icon-email-85">
                                        </i>
                                        <input class="form-control" placeholder="Correo Electrónico" type="url"
                                            style="padding-left: 33px;" formControlName="gmail"/>
                                    </div>
                                </div>
                                    <div class=" col-md-12 md-1">
                                        <div class="input-social form-group">
                                            <i class="fab fa-whatsapp">
                                            </i>
                                            <input class="form-control" placeholder="Número Internacional (sólo números)" type="url"
                                                style="padding-left: 33px;" ngbTooltip="Ejemplo: 59177777777" formControlName="whatsapp" />
                                        </div>
                                    </div>
                                    <div class=" col-md-12 md-1">
                                        <div class="input-social form-group">
                                            <i class="fab fa-telegram-plane"> </i>
                                            <input class="form-control" placeholder="nombre usuario" type="url"
                                                style="padding-left: 33px;"  ngbTooltip="Recuerde ingresar su nombre de usuario de telegram" formControlName="telegram"/>
                                        </div>
                                    </div>
                                    <div class=" col-md-12 md-1">
                                        <div class="input-social form-group">
                                            <i class="fab fa-facebook-f"> </i>
                                            <input class="form-control" placeholder="https://www.facebook.com/nombre_usuario" type="url"
                                                style="padding-left: 33px;" [ngbTooltip]="tipContent" formControlName="facebook"/>
                                        </div>
                                    </div>
                                    <div class=" col-md-12 md-1">
                                        <div class="input-social form-group">
                                            <i class="fab fa-instagram"> </i>
                                            <input class="form-control" placeholder="https://www.instagram.com/nombre_usuario" type="url"
                                                style="padding-left: 33px;" [ngbTooltip]="tipContent" formControlName="instagram"/>
                                        </div>
                                    </div>
                                    <div class=" col-md-12 md-1">
                                        <div class="input-social form-group">
                                            <i class="fab fa-youtube"> </i>
                                            <input class="form-control" placeholder="https://www.youtube.com/channel/código" type="url"
                                                style="padding-left: 33px;" [ngbTooltip]="tipContent" formControlName="youtube"/>
                                        </div>
                                    </div>
                                    <div class=" col-md-12 md-1">
                                        <div class="input-social form-group">
                                            <i class="fab fa-tiktok"></i>
                                            <input class="form-control" placeholder="https://www.tiktok.com/nombre_usuario" type="url"
                                                style="padding-left: 33px;" [ngbTooltip]="tipContent" formControlName="tiktok"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class=" col-md-12">
                                    <div class=" form-group">
                                        <label> Dirección *Calle, Nombre y Número de edificio, Número
                                            de puerta, Zona
                                        </label>
                                        <input class="form-control" placeholder="Dirección" type="text" formControlName="address" />
                                    </div>
                                    <div *ngIf="address.invalid && (address.dirty || address.touched)">
                                        <span *ngIf="address.errors.required" class="text-danger">La direccion es <strong>requerida</strong></span>
                                        <br>
                                        <br>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class=" col-md-6 md-1">
                                            <div class=" form-group">
                                                <label> Pais </label>
                                                <input class="form-control" placeholder="País" type="text" formControlName="country"/>
                                            </div>
                                            <div *ngIf="country.invalid && (country.dirty || country.touched)">
                                                <span *ngIf="country.errors.required" class="text-danger">El pais es <strong>requerido</strong></span>
                                                <br>
                                                <br>
                                            </div>
                                        </div>
                                        <div class=" col-md-6 md-1">
                                            <div class=" form-group">
                                                <label> Ciudad </label>
                                                <input class="form-control" placeholder="Ciudad" type="text" formControlName="city" />
                                            </div>
                                        </div>
                                        <div class=" col-md-6 md-1">
                                            <div class=" form-group">
                                                <label> Código Postal </label>
                                                <input class="form-control" placeholder="ZIP Code" type="text" formControlName="postalCode" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-info pull-right" [disabled]="!user.valid">Crear</button>
                    </div>
                    <br>
                    <br>
                </form>
            </div>
        </div>
    </div>
</div>
<ng-template #tipContent>Recuerde que debe tener un <b>formato de url.</b> Para que funcione correctamente copie su url</ng-template>
<ngx-ui-loader fgsColor='gray' fgsType='three-strings' overlayColor="rgba(24,31,46)" text="Creando perfil ..."></ngx-ui-loader>