<div class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h2 class="title">Detalles de la Categoria</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-8">
                            <div class="row">
                                <div class="col-4">
                                    <div class="mb-2 pr-md-1">
                                        <h4 class="title text-center">Titulo</h4>
                                        <p class="text-center">{{store.title}}</p>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="mb-2 pr-md-1">
                                        <h4 class="title text-center">Descripcion</h4>
                                        <p class="text-center">{{store.description}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="row">
                                <div class="col-4">
                                    <div class="mb-2 pr-md-1">
                                        <h4 class="title text-center">Icono</h4>
                                        <img [src]="store.icon" alt="" class="img-fluid">
                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="mb-2 pr-md-1">
                                        <h4 class="title text-center">Banner</h4>
                                        <img [src]="store.image" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <br>
                    <div class="row">
                        <div class="col-12">
                            <h4>Productos</h4>
                            <div class="table-responsive ps">
                                <table class="table table-striped table-bordered">
                                    <thead class="text-primary">
                                        <tr>
                                            <td>Nombre</td>
                                            <td>Descripcion</td>
                                            <td>Cantidad</td>
                                            <td>Precio</td>
                                            <td>Imagen</td>
                                            <td>Características adicionales</td>
                                            <td>Fecha de creación</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let product of products">
                                            <td>{{product.name}}</td>
                                            <td>{{product.description}}</td>
                                            <td>{{product.amount}} Unidades</td>
                                            <td>{{product.price}} Bs</td>
                                            <td><img class="img-product" [src]="product.image" alt=""></td>
                                            <td>
                                                <span *ngFor="let feature of product.additionalFeatures">
                                                    {{feature}}, 
                                                </span>
                                            </td>
                                            <td>{{product.created | date: 'yyyy-MM-dd'}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>