<div class="content">
  <div class="container mt-5">
    <div class="row">
      <div class="col-12">
        <div class="t-header">
          <div class="row">
            <div class="col-12">
              <h3 class="t-title text-center">Lista de reuniones</h3>
            </div>
          </div>
        </div>
        <div class="t-body">
          <div class="table-responsive hide p-1">
            <table class="table col-lg table-bordered table-striped">
              <thead>
                <tr>
                  <th class="text-center">Nombre</th>
                  <th class="text-center">Numero</th>
                  <th class="text-center">Fecha</th>
                  <th class="text-center">Hora</th>
                  <th class="text-center">Estado</th>
                </tr>
              </thead>
              <tbody>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tbody>
              <tfoot></tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
