<div class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center title">Editar Perfil</h2>
                </div>
                <form #form="ngForm" (ngSubmit)="edit()">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2">
                            </div>
                            <div class="col-4">
                                <div class="container-image">
                                    <div [ngSwitch]="updateImage">
                                        <div *ngSwitchCase="0">
                                            <img [src]="userData.image" class="img-thumbnail mx-auto d-block">
                                        </div>
                                        <div *ngSwitchCase="1">
                                            <img [src]="image" class="img-thumbnail mx-auto d-block">
                                        </div>
                                        <div *ngSwitchCase="2">
                                            <img src="/../../../../assets/img/anime3.png" alt="">
                                        </div>
                                    </div>
                                    <div class="overlay">
                                        <p class="text text-light" (click)="showImage()">cargar imagen</p>
                                    </div>
                                </div>
                                <p class="text-center">imagen de perfil</p>
                            </div>
                            <div class="col-4">
                                <div class="container-image">
                                    <div [ngSwitch]="updateIcon">
                                        <div *ngSwitchCase="0">
                                            <img [src]="userData.icon" class="img-thumbnail mx-auto d-block">
                                        </div>
                                        <div *ngSwitchCase="1">
                                            <img [src]="icon" class="img-thumbnail mx-auto d-block">
                                        </div>
                                        <div *ngSwitchCase="2">
                                            <img src="/../../../../assets/img/anime3.png" alt="">
                                        </div>
                                    </div>
                                    <div class="overlay">
                                        <p class="text text-light" (click)="showIcon()">cargar icono</p>
                                    </div>
                                </div>
                                <p class="text-center">imagen de portada</p>
                            </div>
                            <div class="col-2"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="col-md-12 md-1">
                                    <div class="form-group">
                                        <label>Nombres</label>
                                        <input class="form-control" placeholder="Nombres" type="text"
                                            [(ngModel)]="manager.names" [ngModelOptions]="{standalone: true}"
                                            [value]="userData.names" />
                                    </div>
                                </div>
                                <div class=" col-md-12 md-1">
                                    <div class=" form-group">
                                        <label>Apellidos</label>
                                        <input class="form-control" placeholder="Apellidos" type="text"
                                            [(ngModel)]="manager.lastName" [ngModelOptions]="{standalone: true}"
                                            [value]="userData.lastName" />
                                    </div>
                                </div>
                                <div class=" col-md-12 md-1">
                                    <div class=" form-group">
                                        <label> Identificador (ID herbalife) </label>
                                        <input class="form-control" placeholder="ID herbalife" type="text"
                                            [(ngModel)]="manager.idHerbalife" [ngModelOptions]="{standalone: true}"
                                            [value]="userData.idHerbalife" />
                                    </div>
                                </div>
                                <div class=" col-md-12 md-1">
                                    <div class=" form-group">
                                        <label>Nivel de Herbalife </label>
                                        <input class="form-control" placeholder="Nivel de Herbalife" type="text"
                                            [(ngModel)]="manager.levelHerbalife" [ngModelOptions]="{standalone: true}"
                                            [value]="userData.levelHerbalife" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mt-4">
                                <div class=" col-md-12 md-1">
                                    <div class="input-social form-group">
                                        <i class="tim-icons icon-email-85">
                                        </i>
                                        <input class="form-control" placeholder="Correo Electrónico" type="url"
                                            style="padding-left: 33px;" [(ngModel)]="socialMedia.gmail" [ngModelOptions]="{standalone: true}" [value]="socialMediaData.gmail" />
                                    </div>
                                </div>
                                <div class=" col-md-12 md-1">
                                    <div class="input-social form-group">
                                        <i class="fab fa-whatsapp">
                                        </i>
                                        <input class="form-control" placeholder="WhatsApp" type="url"
                                            style="padding-left: 33px;" [(ngModel)]="socialMedia.whatsapp" [ngModelOptions]="{standalone: true}" [value]="socialMediaData.whatsapp" />
                                    </div>
                                </div>
                                <div class=" col-md-12 md-1">
                                    <div class="input-social form-group">
                                        <i class="fab fa-telegram-plane"> </i>
                                        <input class="form-control" placeholder="Telegram" type="url"
                                            style="padding-left: 33px;" [value]="socialMediaData.telegram" [(ngModel)]="socialMedia.telegram" [ngModelOptions]="{standalone: true}" />
                                    </div>
                                </div>
                                <div class=" col-md-12 md-1">
                                    <div class="input-social form-group">
                                        <i class="fab fa-facebook"> </i>
                                        <input class="form-control" placeholder="Facebook" type="url"
                                            style="padding-left: 33px;" [value]="socialMediaData.facebook" [(ngModel)]="socialMedia.facebook" [ngModelOptions]="{standalone: true}"/>
                                    </div>
                                </div>
                                <div class=" col-md-12 md-1">
                                    <div class="input-social form-group">
                                        <i class="fab fa-instagram"> </i>
                                        <input class="form-control" placeholder="Instagram" type="url"
                                            style="padding-left: 33px;" [value]="socialMediaData.instagram" [(ngModel)]="socialMedia.instagram" [ngModelOptions]="{standalone: true}"/>
                                    </div>
                                </div>
                                <div class=" col-md-12 md-1">
                                    <div class="input-social form-group">
                                        <i class="fab fa-youtube"> </i>
                                        <input class="form-control" placeholder="Youtube" type="url"
                                            style="padding-left: 33px;" [value]="socialMediaData.youtube" [(ngModel)]="socialMedia.youtube" [ngModelOptions]="{standalone: true}"/>
                                    </div>
                                </div>
                                <div class=" col-md-12 md-1">
                                    <div class="input-social form-group">
                                        <i class="fab fa-tiktok"></i>
                                        <input class="form-control" placeholder="TikTok" type="url"
                                            style="padding-left: 33px;" [value]="socialMediaData.tiktok" [(ngModel)]="socialMedia.tiktok" [ngModelOptions]="{standalone: true}"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class=" col-md-12">
                                    <div class=" form-group">
                                        <label> Dirección *Calle, Nombre y Número de edificio, Número
                                            de puerta, Zona
                                        </label>
                                        <input class="form-control" placeholder="Dirección" type="text"
                                            [(ngModel)]="manager.address" [ngModelOptions]="{standalone: true}"
                                            [value]="userData.address" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6 md-1">
                                            <div class="form-group">
                                                <label> Pais </label>
                                                <input class="form-control" placeholder="País" type="text"
                                                    [(ngModel)]="manager.country" [ngModelOptions]="{standalone: true}"
                                                    [value]="userData.country" />
                                            </div>
                                        </div>
                                        <div class="col-md-6 md-1">
                                            <div class="form-group">
                                                <label>Ciudad </label>
                                                <input class="form-control" placeholder="Ciudad" type="text"
                                                    [(ngModel)]="manager.city" [ngModelOptions]="{standalone: true}"
                                                    [value]="userData.city" />
                                            </div>
                                        </div>
                                        <div class=" col-md-6 md-1">
                                            <div class=" form-group">
                                                <label> Código Postal </label>
                                                <input class="form-control" placeholder="ZIP Code" type="text"
                                                    [(ngModel)]="manager.postalCode"
                                                    [ngModelOptions]="{standalone: true}"
                                                    [value]="userData.postalCode" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-warning pull-right">Editar</button>
                    </div>
                    <br>
                    <br>
                </form>
            </div>
        </div>
    </div>
</div>

<ngx-ui-loader fgsColor='gray' fgsType='three-strings' overlayColor="rgba(58,55,54)" [text]="content"></ngx-ui-loader>