<div class=" content">
    <div class=" row">
        <div class=" col-12">
            <div class=" card">
                <div class=" card-header">
                    <h5 class=" title">Editar Usuario</h5>
                </div>
                <div class=" card-body">
                    <div class="row col-12">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <img alt="..." class=" avatar" style="width: 200px; height:200px"
                                src="assets/img/emilyz.jpg" />
                            <!-- <button class="btn btn-fill m-2 btn-danger">Imagen de Perfil</button> -->
                            <label class="ml-5 text-info">Imagen de Perfil</label>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                    <form>
                        <div class=" row">
                            <div class="col-md-6">
                                <div class=" col-md-12 md-1">
                                    <div class=" form-group">
                                        <label class="text-info"> Nombre del distribuidor </label>
                                        <input class="border-info form-control" placeholder="Nombre del distribuidor"
                                            type="text" value="Mike" />
                                    </div>
                                </div>
                                <div class=" col-md-12 md-1">
                                    <div class=" form-group">
                                        <label class="text-info"> Identificador (ID herbalife) </label>
                                        <input class="border-info form-control" placeholder="ID herbalife" type="text"
                                            value="Andrew" />
                                    </div>
                                </div>
                                <div class=" col-md-12 md-1">
                                    <div class=" form-group">
                                        <label class="text-info"> Usuario </label>
                                        <input class="border-info form-control" placeholder="Nombre de usuario"
                                            type="text" value="Mike" />
                                    </div>
                                </div>
                                <div class=" col-md-12 md-1">
                                    <div class=" form-group">
                                        <label class="text-info">Cambiar Contraseña </label>
                                        <input class="border-info form-control" placeholder="Contraseña" type="password"
                                            value="Andrew" />
                                    </div>
                                </div>
                                <div class=" col-md-12 md-1">
                                    <div class=" form-group">
                                        <label class="text-info"> Nivel de Herbalife </label>
                                        <input class="border-info form-control" placeholder="Nivel de Herbalife"
                                            type="text" value="Andrew" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mt-4">
                                <div class=" col-md-12 md-1">
                                    <div class="input-social form-group">
                                        <i class=" text-info  tim-icons icon-email-85">
                                        </i>
                                        <input class="border-info form-control" placeholder="Correo Electrónico"
                                            type="url" value="correo@correo.com" style="padding-left: 33px;" />
                                    </div>
                                </div>
                                <div class=" col-md-12 md-1">
                                    <div class="input-social form-group">
                                        <i class=" text-info fab fa-whatsapp">
                                        </i>
                                        <input class="border-info form-control" placeholder="WhatsApp" type="url"
                                            value="https://whatsapp" style="padding-left: 33px;" />
                                    </div>
                                </div>
                                <div class=" col-md-12 md-1">
                                    <div class="input-social form-group">
                                        <i class=" text-info fab fa-telegram-plane"> </i>
                                        <input class="border-info form-control" placeholder="Telegram" type="url"
                                            value="https://telegram" style="padding-left: 33px;" />
                                    </div>
                                </div>
                                <div class=" col-md-12 md-1">
                                    <div class="input-social form-group">
                                        <i class=" text-info  fab fa-facebook"> </i>
                                        <input class="border-info form-control" placeholder="Facebook" type="url"
                                            value="https://facebook" style="padding-left: 33px;" />
                                    </div>
                                </div>
                                <div class=" col-md-12 md-1">
                                    <div class="input-social form-group">
                                        <i class=" text-info fab fa-instagram"> </i>
                                        <input class="border-info form-control" placeholder="Instagram" type="url"
                                            value="https://instagram" style="padding-left: 33px;" />
                                    </div>
                                </div>
                                <div class=" col-md-12 md-1">
                                    <div class="input-social form-group">
                                        <i class=" text-info fab fa-youtube"> </i>
                                        <input class="border-info form-control" placeholder="Youtube" type="url"
                                            value="https://youtube" style="padding-left: 33px;" />
                                    </div>
                                </div>
                                <div class=" col-md-12 md-1">
                                    <div class="input-social form-group">
                                        <i class=" text-info fab fa-tiktok"></i>
                                        <input class="border-info form-control" placeholder="TikTok" type="url"
                                            value="https://tiktok" style="padding-left: 33px;" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class=" col-md-12">
                                    <div class=" form-group">
                                        <label class="text-info"> Dirección *Calle, Nombre y Número de edificio, Número
                                            border-color-info </label>
                                        <input class="border-info form-control" placeholder="Home Address" type="text"
                                            value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class=" col-md-6 md-1">
                                            <div class=" form-group">
                                                <label class="text-info"> Pais </label>
                                                <input class="border-info form-control" placeholder="Pais" type="text"
                                                    value="Mike" />
                                            </div>
                                        </div>
                                        <div class=" col-md-6 md-1">
                                            <div class=" form-group">
                                                <label class="text-info"> Ciudad </label>
                                                <input class="border-info form-control" placeholder="Ciudad" type="text"
                                                    value="Andrew" />
                                            </div>
                                        </div>
                                        <div class=" col-md-6 md-1">
                                            <div class=" form-group">
                                                <label class="text-info"> Código Postal </label>
                                                <input class="border-info form-control" placeholder="ZIP Code"
                                                    type="number" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <!-- btn-simple -->
                    <button class="btn btn-info pull-right" type="submit">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>