<div class=" content">
    <div class=" row">
        <div class=" col-12">
            <div class=" card">
                <div class=" card-header">
                    <h2 class="text-center title">Editar Usuario</h2>
                </div>
                <div class=" card-body">
                    <div class="row">
                        <img alt="..." width="200px" height="200px" class="ml-auto mr-auto"
                            style="border-radius: 100px;" src="assets/img/emilyz.jpg" />
                        <!-- <button class="btn btn-fill m-2 btn-danger">Imagen de Perfil</button> -->
                        <div class="col-12 text-center m-2">
                            <p class="ml-5">Imagen de Perfil</p>
                        </div>
                    </div>
                    <form>
                        <div class=" row">
                            <div class="col-md-6">
                                <div class=" col-md-12 md-1">
                                    <div class=" form-group">
                                        <label> Nombre del distribuidor </label>
                                        <input class="form-control" placeholder="Nombre del distribuidor" type="text"
                                            value="Mike" />
                                    </div>
                                </div>
                                <div class=" col-md-12 md-1">
                                    <div class=" form-group">
                                        <label> Identificador (ID herbalife) </label>
                                        <input class="form-control" placeholder="ID herbalife" type="text"
                                            value="Andrew" />
                                    </div>
                                </div>
                                <div class=" col-md-12 md-1">
                                    <div class=" form-group">
                                        <label> Usuario </label>
                                        <input class="form-control" placeholder="Nombre de usuario" type="text"
                                            value="Mike" />
                                    </div>
                                </div>
                                <div class=" col-md-12 md-1">
                                    <div class=" form-group">
                                        <label>Cambiar Contraseña </label>
                                        <input class="form-control" placeholder="Contraseña" type="password"
                                            value="Andrew" />
                                    </div>
                                </div>
                                <div class=" col-md-12 md-1">
                                    <div class=" form-group">
                                        <label> Nivel de Herbalife </label>
                                        <input class="form-control" placeholder="Nivel de Herbalife" type="text"
                                            value="Andrew" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mt-4">
                                <div class=" col-md-12 md-1">
                                    <div class="input-social form-group">
                                        <i class="tim-icons icon-email-85">
                                        </i>
                                        <input class="form-control" placeholder="Correo Electrónico" type="url"
                                            value="correo@correo.com" style="padding-left: 33px;" />
                                    </div>
                                </div>
                                <div class=" col-md-12 md-1">
                                    <div class="input-social form-group">
                                        <i class="fab fa-whatsapp">
                                        </i>
                                        <input class="form-control" placeholder="WhatsApp" type="url"
                                            value="https://whatsapp" style="padding-left: 33px;" />
                                    </div>
                                </div>
                                <div class=" col-md-12 md-1">
                                    <div class="input-social form-group">
                                        <i class="fab fa-telegram-plane"> </i>
                                        <input class="form-control" placeholder="Telegram" type="url"
                                            value="https://telegram" style="padding-left: 33px;" />
                                    </div>
                                </div>
                                <div class=" col-md-12 md-1">
                                    <div class="input-social form-group">
                                        <i class=" fab fa-facebook"> </i>
                                        <input class="form-control" placeholder="Facebook" type="url"
                                            value="https://facebook" style="padding-left: 33px;" />
                                    </div>
                                </div>
                                <div class=" col-md-12 md-1">
                                    <div class="input-social form-group">
                                        <i class="fab fa-instagram"> </i>
                                        <input class="form-control" placeholder="Instagram" type="url"
                                            value="https://instagram" style="padding-left: 33px;" />
                                    </div>
                                </div>
                                <div class=" col-md-12 md-1">
                                    <div class="input-social form-group">
                                        <i class="fab fa-youtube"> </i>
                                        <input class="form-control" placeholder="Youtube" type="url"
                                            value="https://youtube" style="padding-left: 33px;" />
                                    </div>
                                </div>
                                <div class=" col-md-12 md-1">
                                    <div class="input-social form-group">
                                        <i class="fab fa-tiktok"></i>
                                        <input class="form-control" placeholder="TikTok" type="url"
                                            value="https://tiktok" style="padding-left: 33px;" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class=" col-md-12">
                                    <div class=" form-group">
                                        <label> Dirección *Calle, Nombre y Número de edificio, Número
                                            border-color-info </label>
                                        <input class="form-control" placeholder="Dirección" type="text"
                                            value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class=" col-md-6 md-1">
                                            <div class=" form-group">
                                                <label> Pais </label>
                                                <input class="form-control" placeholder="País" type="text"
                                                    value="Mike" />
                                            </div>
                                        </div>
                                        <div class=" col-md-6 md-1">
                                            <div class=" form-group">
                                                <label> Ciudad </label>
                                                <input class="form-control" placeholder="Ciudad" type="text"
                                                    value="Andrew" />
                                            </div>
                                        </div>
                                        <div class=" col-md-6 md-1">
                                            <div class=" form-group">
                                                <label> Código Postal </label>
                                                <input class="form-control" placeholder="ZIP Code" type="number" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <!-- btn-simple -->
                    <button class="btn btn-info pull-right" type="submit">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>