<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 mx-auto">
        <br /><br />
        <div class="card">
          <div class="card-body">
            <h3 class="card-title text-center">Datos del Perfil</h3>
            <hr color="purple" width="80%" />
            <div class="row">
              <div class="col-12 col-md-8">
                <h4>Nombre Completo</h4>
                <p>{{ profile.names }}</p>
                <br />
                <h4>Correo Electronico</h4>
                <p>{{ profile.email }}</p>
                <br />
                <h4>Pais, ciudad</h4>
                <p>{{ profile.country }}, {{ profile.city }}</p>
                <br />
                <h4>Numero de Celular</h4>
                <p>{{ profile.phoneNumber }}</p>
              </div>
              <div class="col-12 col-md-4">
                <div>
                  <button
                    class="btn btn-warning btn-link btn-sm pull-right"
                    type="button"
                    routerLink="/customer/edit"
                  >
                    <i class="tim-icons icon-pencil"></i> Editar
                  </button>
                </div>
                <img
                  [src]="profile.image"
                  class="img-thumbnail"
                  *ngIf="profile.image; else noImage"
                />
                <ng-template #noImage></ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
