<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-user">
        <div class="card-body">
          <div class="author">
            <div class="card-header text-center">
              <h2 class="card-title"><b>Testimonions</b></h2>
              <p class="card-text">Puedes añadir hasta 12 testimonios</p>
            </div>
          </div>
          <hr color="purple" width="90%" />
          <br />
          <form>
            <div class="form-group">
              <div class="row">
                <div class="col-md-6 text-left">
                  <div class="col-md-12">
                    <h1 class="display-4">Testimonio 1</h1>
                    <div class="container-image">
                      <img
                        src="../../../../assets/img/anime3.png"
                        alt="Avatar"
                        class="mx-auto d-block"
                        *ngIf="!imageContent; else noImage"
                      />
                      <ng-template #noImage>
                        <img [src]="imageContent" alt="" />
                      </ng-template>
                      <div class="overlay">
                        <p class="text text-light" (click)="showAlert()">
                          Agregar una imagen
                        </p>
                      </div>
                    </div>
                    <p class="text-center">Imagen para el testimonio</p>
                  </div>
                </div>
                <br>
                <div class="col-md-6">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label> Nombre </label>
                      <input
                        class="form-control"
                        type="text"
                        placeholder="Añade un nombre al testimonio"
                      />
                    </div>
                    <div class="form-group">
                      <label> Comentario </label>
                      <textarea
                        class="form-control"
                        placeholder="Añade un comentario del testimonio"
                        type="text"
                        maxlength="150"
                      ></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-right">
              <button type="submit" class="btn btn-info">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
