<div class="content">
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                    <div class="t-header">
                        <div class="row">
                            <div class="col-12">
                                <h3 class="t-title text-center">MIS COMPRAS</h3>
                            </div>
                        </div>
                    </div>
                    <div class="t-body">
                        <div class="table-responsive ps p-1">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="text-center">Nombre</th>
                                        <th class="text-center">Producto</th>
                                        <th class="text-center">Sabor</th>
                                        <th class="text-center">Cantidad</th>
                                        <th class="text-center">Precio</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="text-center">
                                        <td>Producto 1</td>
                                        <td><img class="mx-auto d-block" height="100" src="../../../../assets/img/img_3115.jpg" alt=""></td>
                                        <td>Chocolate</td>
                                        <td>1</td>
                                        <td>50Bs</td>
                                    </tr>
                                    <tr class="text-center">
                                        <td>Producto 2</td>
                                        <td><img class="mx-auto d-block" height="100" src="../../../../assets/img/bg5.jpg" alt=""></td>
                                        <td>Vainilla</td>
                                        <td>2</td>
                                        <td>100Bs</td>
                                    </tr>
                                    <tr class="text-center">
                                        <td>Producto 3</td>
                                        <td><img class="mx-auto d-block" height="100" src="../../../../assets/img/bg5.jpg" alt=""></td>
                                        <td>Frutilla</td>
                                        <td>5</td>
                                        <td>80Bs</td>
                                    </tr>
                                </tbody>
                                <tfoot></tfoot>
                            </table>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>




<!-- <div class="content">
    <h3 class=" title mt-5 text-center">MIS COMPRAS</h3>
    <div class="container">
        <div class="row">
            <div class="t-header">
                <div class="row">
                    <div class="col-8">
                        <h3 class="t-title">Lista de Compra</h3>
                    </div>
                </div>
            </div>
            <div class="t-body">
                <div class="table-responsive ps p-1">
                    <table class="table table-bordered table-striped">
                        <thead class="text-primary">
                            <tr>
                                <th class="text-center">Nombre</th>
                                <th class="text-center">Imagen</th>
                                <th class="text-center">Descripción</th>
                                <th class="text-center">Precio</th>
                                <th class="text-center">Cantidad</th>
                                <th class="text-center">Total</th>
                                <th class="text-right">Acciones</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div> -->
