<div class="fixed-plugin">
  <div class="show-dropdown text-center" ngbDropdown>
    <a data-toggle="dropdown" ngbDropdownToggle>
      <i class="fa fa-cog fa-2x"> </i>
    </a>
    <ul ngbDropdownMenu>
      <div class="text-center">
        <li class="header-title">Mis Redes Sociales</li>
        <br />
        <br />
        <button class="btn btn-icon btn-round">
          <i class="fab fa-twitter center"></i>
        </button>
        <button class="btn btn-icon btn-round">
          <i class="fab fa-facebook center"></i>
        </button>
        <button class="btn btn-icon btn-round">
          <i class="fab fa-google center"></i>
        </button>
      </div>
    </ul>
  </div>
</div>
