<div class="fixed-plugin">
    <div class="show-dropdown" ngbDropdown>
      <a data-toggle="dropdown" ngbDropdownToggle>
        <i class=" fa fa-cog fa-2x"> </i>
      </a>
      <ul ngbDropdownMenu>
        <li class=" header-title">Sidebar Background</li>
        <li class=" adjustments-line">
          <a class=" switch-trigger background-color" href="javascript:void(0)">
            <div class=" badge-colors text-center">
              hola si doy
            </div>
            <div class=" clearfix">sip si dio</div>
          </a>
        </li>
        <li class=" adjustments-line text-center color-change">
          <span class=" color-label"> LIGHT MODE </span>
          <span class=" color-label"> DARK MODE </span>
        </li>
      </ul>
    </div>
  </div>
