<div class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header text-center">
                    <h3>Entrenador</h3>
                </div>
                <form #form="ngForm" (ngSubmit)="editTrainer()">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <h5 class="text-center">ICONO <strong>(dimensiones recomendadas 500px x 500px)</strong>
                            </h5>
                            <div class="container-image p-2">
                                <div [ngSwitch]="updateIcon">
                                    <div *ngSwitchCase="0">
                                        <img [src]="trainerData.icon" class="mx-auto d-block">
                                    </div>
                                    <div *ngSwitchCase="1">
                                        <img [src]="icon" class="mx-auto d-block">
                                    </div>
                                    <div *ngSwitchCase="2">
                                        <img src="/../../../../assets/img/img_3115.jpg" class="mx-auto d-block">
                                    </div>
                                </div>
                                <div class="overlay" (click)="showIcon()">
                                    <div class="text-icon text-light">
                                        <span>
                                            <i class="tim-icons icon-upload"> </i>
                                            ICONO <strong>(dimensiones recomendadas "500 x 500 px")</strong>
                                        </span>
                                        <p>¡ haga click aqui !</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-7">
                            <h5 class="text-center">POSTER <strong>(dimensiones recomendadas "1920 x 1080
                                px")</strong></h5>
                            <div class="container-image p-2">
                                <div [ngSwitch]="updateBanner">
                                    <div *ngSwitchCase="0">
                                        <img [src]="trainerData.banner" class="img-thumbnail mx-auto d-block">
                                    </div>
                                    <div *ngSwitchCase="1">
                                        <img [src]="banner" class="img-thumbnail mx-auto d-block">
                                    </div>
                                    <div *ngSwitchCase="2">
                                        <img src="/../../../../assets/img/banner.png" alt="">
                                    </div>
                                </div>
                                <div class="overlay" (click)="showBanner()">
                                    <div class="text text-light">
                                        <div>
                                            <i class="tim-icons icon-upload"> </i>
                                            POSTER <strong>(dimensiones recomendadas "1920 x 1080
                                                px")</strong>
                                        </div>
                                        <p>¡ haga click aqui !</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row justify-content-around">
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label> Nombre del entrenador</label>
                                <input class="form-control" type="text" [(ngModel)]="trainer.names" [ngModelOptions]="{standalone: true}" [value]="trainerData.names">
                            </div>
                            <div class="input-icon form-group">
                                <label>Presentación</label>
                                <textarea class="form-control" id="trainerTextArea" rows="8" [(ngModel)]="trainer.description" [ngModelOptions]="{standalone: true}" [value]="trainerData.description"></textarea>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class=" col-md-12 md-1">
                                <div class="input-icon form-group">
                                    <i class="tim-icons icon-email-85"></i>
                                    <input class="form-control" ngbTooltip="El correo proporcionado debe ser valido" placeholder="correo@correo.com" type="url" style="padding-left: 33px;" [(ngModel)]="socialMedia.email" [ngModelOptions]="{standalone: true}" [value]="socialMediaData.email">
                                </div>
                            </div>
                            <div class=" col-md-12 md-1">
                                <div class="input-icon form-group">
                                    <i class="fab fa-whatsapp">
                                    </i>
                                    <input class="form-control" ngbTooltip="Debe cumplir formato de url, Ejemplo: https://wa.me/tu_numero" placeholder="https://wa.me/tu_numero" type="url" style="padding-left: 33px;" [(ngModel)]="socialMedia.whatsapp" [ngModelOptions]="{standalone: true}" [value]="socialMediaData.whatsapp">
                                </div>
                            </div>
                            <div class=" col-md-12 md-1">
                                <div class="input-icon form-group">
                                    <i class="fab fa-telegram-plane"> </i>
                                    <input class="form-control" ngbTooltip="Debe cumplir formato de url, Ejemplo: https://t.me/nombre_usuario" placeholder="https://t.me/nombre_usuario" type="url" style="padding-left: 33px;" [(ngModel)]="socialMedia.telegram" [ngModelOptions]="{standalone: true}" [value]="socialMediaData.telegram">
                                </div>
                            </div>
                            <div class=" col-md-12 md-1">
                                <div class="input-icon form-group">
                                    <i class="fab fa-facebook-f"> </i>
                                    <input class="form-control" ngbTooltip="Debe cumplir formato de url, Ejemplo: https://www.facebook.com/..." placeholder="https://www.facebook.com/..." type="url" style="padding-left: 33px;" [(ngModel)]="socialMedia.facebook" [ngModelOptions]="{standalone: true}" [value]="socialMediaData.facebook">
                                </div>
                            </div>
                            <div class=" col-md-12 md-1">
                                <div class="input-icon form-group">
                                    <i class="fab fa-instagram"> </i>
                                    <input class="form-control" ngbTooltip="Debe cumplir formato de url, Ejemplo: https://www.instagram.com/..." placeholder="https://www.instagram.com/..." type="url" style="padding-left: 33px;" [(ngModel)]="socialMedia.instagram" [ngModelOptions]="{standalone: true}" [value]="socialMediaData.instagram">
                                </div>
                            </div>
                            <div class=" col-md-12 md-1">
                                <div class="input-icon form-group">
                                    <i class="fab fa-youtube"> </i>
                                    <input class="form-control" ngbTooltip="Debe cumplir formato de url, Ejemplo: https://www.youtube.com/..." placeholder="https://www.youtube.com/..." type="url" style="padding-left: 33px;" [(ngModel)]="socialMedia.youtube" [ngModelOptions]="{standalone: true}" [value]="socialMediaData.youtube">
                                </div>
                            </div>
                            <div class=" col-md-12 md-1">
                                <div class="input-icon form-group">
                                    <i class="fab fa-tiktok"></i>
                                    <input class="form-control" ngbTooltip="Debe cumplir formato de url, Ejemplo: https://www.tiktok.com/..." placeholder="https://www.tiktok.com/..." type="url" style="padding-left: 33px;" [(ngModel)]="socialMedia.tiktok" [ngModelOptions]="{standalone: true}" [value]="socialMediaData.tiktok">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class=" button-container pull-right">
                        <button type="submit" class="btn btn-warning">
                            Editar
                        </button>
                    </div>
                </div>
            </form>
            <br><br>
            </div>
            <div class="card">
                <form #form="ngForm" (ngSubmit)="editLection()">
                <div class="card-body">
                    <div class="card-header text-left">
                        <h3 class="card-title ">Clase</h3>
                    </div>
                    <br>
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-8">
                            <label> Nombre de la clase </label>
                            <input class="form-control" type="text" [(ngModel)]="lection.name" [ngModelOptions]="{standalone: true}" [value]="lectionData.name">
                            <br>
                            <label> Modo de la clase </label>
                            <select class="form-control" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="lection.mode" [value]="lection.mode">
                                <option>Presencial</option>
                                <option>Virtual</option>
                            </select>
                            <br>
                            <label> Descripción de la clase </label>
                            <textarea class="form-control" rows="7" [(ngModel)]="lection.description" [ngModelOptions]="{standalone: true}" [value]="lectionData.description"></textarea>
                        </div>
                        <div class="col-12 col-md-4">
                            <h5 class="text-center">IMAGEN DE LA CLASE <strong>(dimensiones recomendadas 900px x 900px)</strong></h5>
                            <div class="container-image p-2">
                                <div [ngSwitch]="updateImage">
                                    <div *ngSwitchCase="0">
                                        <img [src]="lectionData.image" class="mx-auto d-block">
                                    </div>
                                    <div *ngSwitchCase="1">
                                        <img [src]="image" class="mx-auto d-block">
                                    </div>
                                    <div *ngSwitchCase="2">
                                        <img src="/../../../../assets/img/image-class.jpg" class="mx-auto d-block">
                                    </div>
                                </div>
                                <div class="overlay" (click)="showImage()">
                                    <div class="text-icon text-light">
                                        <span>
                                            <i class="tim-icons icon-upload"> </i>
                                            CLASE <strong>(dimensiones recomendadas 900px x 900px)</strong>
                                        </span>
                                        <p>¡ haga click aqui !</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-8">
                            <label> Titulo de Agradecimiento </label>
                            <input class="form-control" type="text"  [(ngModel)]="lection.titleGratitude" [ngModelOptions]="{standalone: true}" [value]="lectionData.titleGratitude">
                            <br>
                            <br>
                            <label> Mensaje de agradecimiento </label>
                            <textarea class="form-control"  [(ngModel)]="lection.descriptionGratitude" [ngModelOptions]="{standalone: true}" [value]="lectionData.descriptionGratitude"></textarea>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class=" button-container pull-right">
                        <button type="submit" class="btn btn-warning">
                            Editar
                        </button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>

<ngx-ui-loader fgsColor='gray' fgsType='three-strings' overlayColor="rgba(24,31,46)" [text]="content"></ngx-ui-loader>
