<div class=" content">
    <div class=" row">
        <div class=" col-md-12">
            <div class="card card-user">
                <div class=" card-body">
                    <div style="text-align: center">
                        <h2>Tienda</h2>
                        <h5>Puedes añadir solo hasta 12 categorias</h5>
                    </div>
                    <br>
                    <hr>
                    <br>
                    <form [formGroup]="store">
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-7">
                                <label> Nombre de la categoria </label>
                                <input class=" form-control" placeholder="Nombre de la categoria" type="text" value=""
                                    formControlName="title">
                                <div *ngIf="title.invalid && title.touched">
                                    <small class="text-danger"> *Espacio <strong>requerido</strong></small>
                                    <br>
                                    <br>
                                </div>
                                <label> Descripcion de la categoria </label>
                                <textarea class=" form-control" cols="80"
                                    placeholder="Coloca la descripcion de tu tienda" rows="4" value=""
                                    formControlName="description"></textarea>
                                <div *ngIf="description.invalid && description.touched">
                                    <small class="text-danger"> *Espacio <strong>requerido</strong></small>
                                    <br>
                                    <br>
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <h5 class="text-center">ICONO <strong>(dimensiones recomendadas 500px x 500px)</strong>
                                </h5>
                                <div class="container-image">
                                    <img src="../../../../assets/img/img_3115.jpg" alt="IconStore"
                                        class="mx-auto d-block" *ngIf="!iconImage; else noImageIcon">
                                    <ng-template #noImageIcon>
                                        <img [src]="iconImage" alt="" class="mx-auto d-block">
                                    </ng-template>
                                    <div class="overlay" (click)="showIcon()">
                                        <div class="text-icon text-light">
                                            <span>
                                                <i class="tim-icons icon-upload"> </i>
                                                ICONO <strong>(dimensiones recomendadas 500px x 500px)</strong>
                                            </span>
                                            <p>¡ haga click aqui !</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="row justify-content-center">
                            <div class="col-none col-md-2"></div>
                            <div class="col-12 col-md-8">
                                <h5 class="text-center">POSTER <strong>(dimensiones recomendadas 1920px x 1080px)</strong></h5>
                                <div class="container-image text-center">
                                    <img src="../../../../assets/img/banner.png" alt="PortraitStore"
                                        class="rounded mx-auto d-block" *ngIf="!portraitImage; else noPortraitImage">
                                    <ng-template #noPortraitImage>
                                        <img [src]="portraitImage" alt="" class="rounded mx-auto d-block">
                                    </ng-template>
                                    <div class="overlay" (click)="showPortrait()">
                                        <div class="text text-light">
                                            <div>
                                                <i class="tim-icons icon-upload"> </i>
                                                POSTER <strong>(dimensiones recomendadas 1920px x 1080 px)</strong>
                                            </div>
                                            <p>¡ haga click aqui !</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-none col-md-2"></div>
                        </div>
                    </form>
                    <br>
                    <hr>
                    <div style="text-align: center">
                        <h4>Productos de la tienda</h4>
                        <span>
                            Puedes añadir hasta 12 productos por tienda
                        </span>
                    </div>
                    <br>
                    <form [formGroup]="productForm">
                        <div formArrayName="product">
                            <div *ngFor="let FormInputs of product.controls; let i = index;">
                                <br>
                                <div [formGroupName]="i">
                                    <div class="row pl-1 pl-md-3">
                                        <h4>Producto {{i+1}}</h4>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-12 col-md-3">
                                            <h5 class="text-center">IMAGEN DEL PRODUCTO <strong>(dimensiones recomendadas "900 x 900
                                                px")</strong></h5>
                                            <div class="container-image">
                                                <img src="../../../../assets/img/imagen.jpg" alt="ProductImage"
                                                    class="mx-auto d-block"
                                                    *ngIf="!productImage[i]; else noProductImage">
                                                <ng-template #noProductImage>
                                                    <img [src]="productImage[i]" class="mx-auto d-block">
                                                </ng-template>
                                                <div class="overlay" (click)="showProduct(i)">
                                                    <div class="text-icon text-light">
                                                        <span>
                                                            <i class="tim-icons icon-upload"> </i>
                                                            PRODUCTO <strong>(dimensiones recomendadas 900px x 900px)</strong>
                                                        </span>
                                                        <p>¡ haga click aqui !</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-9">
                                            <label> Nombre del producto </label>
                                            <input class=" form-control" [attr.id]="'name' + i"
                                                placeholder="Nombre del producto" type="text" formControlName="name">
                                            <div *ngIf="product.controls[i].get('name').invalid &&
                                                product.controls[i].get('name').touched">
                                                <small class="text-danger"> *Espacio <strong>requerido</strong></small>
                                                <br>
                                            </div>
                                            <br>
                                            <label> Precio del producto </label>
                                            <input class=" form-control" placeholder="Precio del producto" type="text"
                                                formControlName="price">
                                            <div *ngIf="product.controls[i].get('price').invalid &&
                                                product.controls[i].get('price').touched">
                                                <small class="text-danger"> *Espacio <strong>requerido</strong></small>
                                                <br>
                                            </div>
                                            <br>
                                            <label> Cantidad de productos disponible </label>
                                            <input class=" form-control" placeholder="Cantidad de productos disponible"
                                                type="number" formControlName="amount">
                                            <div *ngIf="product.controls[i].get('amount').invalid &&
                                                product.controls[i].get('amount').touched">
                                                <small class="text-danger"> *Espacio <strong>requerido</strong></small>
                                                <br>
                                            </div>
                                            <br>
                                            <label> Descripcion del producto </label>
                                            <textarea class=" form-control" cols="80"
                                                placeholder="Coloca la descripcion del producto" rows="4"
                                                formControlName="description"></textarea>
                                            <div *ngIf="product.controls[i].get('description').invalid &&
                                                product.controls[i].get('description').touched">
                                                <small class="text-danger"> *Espacio <strong>requerido</strong></small>
                                                <br>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <br>
                                    <div class="text-center">
                                        <h5> Puedes añadir datos adicionales y hasta 3 caracteristicas del producto</h5>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="form-group col-md-4">
                                            <label> Precio extra del producto </label>
                                            <input class=" form-control" placeholder="Precio extra del producto"
                                                type="text" value="" formControlName="additionalPrice">
                                            <label> Descripción extra del producto </label>
                                            <textarea class=" form-control" cols="80"
                                                placeholder="Datos extra del producto" rows="20"
                                                formControlName="addtionalDescription"></textarea>
                                        </div>
                                        <div class="col-md-6" formArrayName="additionalFeatures">
                                            <div
                                                *ngFor="let features of FormInputs.get('additionalFeatures')['controls']; let j=index">
                                                <label>Caracteristica {{j+1}}</label>
                                                <br>
                                                <small class="text-muted"
                                                  >*Maximo 90 caracteres
                                                </small>
                                                <input class="form-control" type="text" maxlength="90" [formControlName]="j">
                                                <button
                                                    (click)="removeFeature(FormInputs.get('additionalFeatures'),j,i)"
                                                    class="btn btn-warning btn-sm btn-fab btn-icon btn-round">
                                                    <i class="tim-icons icon-simple-delete"></i>
                                                </button>
                                            </div>
                                            <button (click)="addFeature(FormInputs.get('additionalFeatures'),i)"
                                                [disabled]="btnAddFeature[i]" class="btn-primary btn-round float-right">
                                                <i class="tim-icons icon-simple-add"></i> Agregar Caracteristica
                                            </button>
                                        </div>
                                        <br>
                                        <br>
                                    </div>
                                    <br>
                                    <hr>
                                    <button (click)="removeProduct(i)"
                                        class="btn btn-danger btn-fab btn-icon btn-round float-left">
                                        <i class="tim-icons icon-simple-delete"></i>
                                    </button>
                                </div>
                            </div>
                            <div class=" button-container">
                                <button (click)="addProductForm()" [disabled]="btnAddProduct"
                                    class="btn btn-primary btn-fab btn-icon btn-round float-right">
                                    <i class="tim-icons icon-simple-add"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class=" button-container pull-right">
                        <button (click)="post()" class="btn btn-info" [disabled]="store.invalid || product.invalid">
                            Guardar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-ui-loader fgsColor='gray' fgsType='three-strings' overlayColor="rgba(24,31,46)" text="Creando tienda ...">
</ngx-ui-loader>
