<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-user">
          <form #form="ngForm" (ngSubmit)="edit()">
            <div class="card-body" *ngIf="dataProfile">
              <h3 class="card-title">Editar Perfil</h3>
              <div class="row">
                <div class="col-12 col-md-8">
                  <div class="col-md-12 col-m-1">
                    <div class="form-group">
                      <label>Nombre</label>
                      <input
                        type="text"
                        class="form-control"
                        [(ngModel)]="profile.names"
                        [ngModelOptions]="{ standalone: true }"
                        [value]="dataProfile.names"
                      />
                    </div>
                  </div>
                  <div class="col-md-12 col-m-1">
                    <div class="form-group">
                      <label>Direccion</label>
                      <input
                        type="text"
                        class="form-control"
                        [(ngModel)]="profile.address"
                        [ngModelOptions]="{ standalone: true }"
                        [value]="dataProfile.address"
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <div class="col-md-12 col-m-1">
                        <div class="form-group">
                          <label>Pais</label>
                          <input
                            type="text"
                            class="form-control"
                            [(ngModel)]="profile.country"
                            [ngModelOptions]="{ standalone: true }"
                            [value]="dataProfile.country"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="col-md-12 col-m-1">
                        <div class="form-group">
                          <label>Ciudad</label>
                          <input
                            type="text"
                            class="form-control"
                            [(ngModel)]="profile.city"
                            [ngModelOptions]="{ standalone: true }"
                            [value]="dataProfile.city"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <h4 class="text-center">Imagen de perfil</h4>
                  <div class="container-image p-2">
                    <div [ngSwitch]="updateImage">
                      <div *ngSwitchCase="0">
                        <img
                          [src]="dataProfile.image"
                          class="img-thumbnail mx-auto d-block"
                        />
                      </div>
                      <div *ngSwitchCase="1">
                        <img
                          [src]="image"
                          class="img-thumbnail mx-auto d-block"
                        />
                      </div>
                      <div *ngSwitchCase="2">
                        <img
                          src="/../../../../assets/img/anime3.png"
                          alt=""
                          class="img-thumbnail mx-auto d-block"
                        />
                      </div>
                    </div>
                    <div class="overlay" (click)="showImage()">
                      <div class="text text-light">
                        <i class="tim-icons icon-upload"> </i>
                        Editar imagen
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <button type="submit" class="btn pull-right btn-warning">
                Editar
              </button>
            </div>
            <br /><br />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-ui-loader
  fgsColor="gray"
  fgsType="three-strings"
  overlayColor="rgba(24,31,46)"
  [text]="content"
></ngx-ui-loader>
