<div class="content">
  <div class="header">
    <div class="row">
      <div class="col mx-auto text-center">
        <h1>DATOS DEL ENTRENAMIENTO</h1>
        <p>Parrafo que tiene todos los datos</p>
        <br>
        <br>
        <div class="row">
          <div class="col-sm-2 mx-auto text-center">
            <img src="../../../../assets/img/anime3.png" alt="">
            <br>
            <br>
            <p>Descarga tu QR y muestralo al ingresar a la clase</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
