<div class="content text-center">
  <div class="container-fluid">
    <div class="header text-center">
      <h1>DATOS DEL ENTRENAMIENTO</h1>
    </div>
    <div class="row">
      <div class="col col-md mx-auto text-center">
        <p>Parrafo que tiene todos los datos</p>
        <br />
        <br />
      </div>
    </div>
    <div class="row">
      <div class="col col-md-4 mx-auto text-center">
        <img src="../../../../assets/img/anime3.png" alt="" />
        <br />
        <br />
        <p>Descarga tu QR y muestralo al ingresar a la clase</p>
      </div>
    </div>
  </div>
</div>
