<div class="content">
  <div class="header">
    <img [src]="service.banner" class="img-service" />
  </div>
  <div class="card">
    <div class="card-body">
      <h3 class="card-title text-center">Categorias</h3>
      <div class="row justify-content-center">
        <div class="scrollMenu">
          <div class="col-6 col-md-2" *ngFor="let service of services">
            <div class="card">
              <div class="card-img-top p-1 text-center">
                <img
                  [src]="service.icon"
                  class="rounded mx-auto d-block iconImg"
                  *ngIf="service.icon; else noIcon"
                />
                <ng-template #noIcon>
                  <i class="tim-icons icon-atom"></i>
                </ng-template>
              </div>
              <div class="card-body text-center">
                <a
                  class="
                    btn btn-danger
                    animation-on-hover
                    btn-sm
                    text-light
                    btn-round
                  "
                  (click)="viewService(service.id)"
                  >{{ service.title | slice: 0:10 }}</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h2 class="card-title text-center text-uppercase">{{ service.name }}</h2>
      <hr color="purple" width="85%" />
      <br />
      <div class="row">
        <div class="col-sm-6 mx-auto text-center">
          <div class="card card-lock card-nav-tabs">
            <div class="card-body">
              <div class="row">
                <div class="col-12 col-md">
                  <h4 class="card-title">{{ service.title }}</h4>
                  <p class="card-text">{{ service.description }}</p>
                </div>
                <div class="col-12 col-md">
                  <img [src]="service.image" class="img-thumbnail" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 mx-auto text-center">
          <div [ngSwitch]="service.type">
            <div *ngSwitchCase="'test'">
              <h4>
                ¿ Tienes curiosidad por saber si tu podrías hacerlo ? <br />
                Haz este test y descubrelo
              </h4>
              <button
                type="button"
                class="btn btn-success"
                [hidden]="validateAdmin"
                (click)="registerService('test')"
              >
                COMENZAR DIAGNOSTICO
              </button>
            </div>
            <div *ngSwitchCase="'auto'">
              <h4>¿ Desea hacer una autoevaluacion ?</h4>
              <button
                type="button"
                class="btn btn-success"
                [hidden]="validateAdmin"
                (click)="registerService('auto')"
              >
                AUTO EVALUACIÓN
              </button>
            </div>
            <div *ngSwitchCase="'normal'">
              <button
                type="button"
                class="btn btn-success"
                [hidden]="validateAdmin"
                (click)="registerService('normal')"
              >
                Registrarse al servicio
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-ui-loader
  fgsColor="gray"
  fgsType="three-strings"
  overlayColor="rgba(24,31,46)"
></ngx-ui-loader>
