<div class="content">
    <div class="header">
        <img [src]="service.banner" class="img-service">
    </div>
      <div class="card">
        <div class="card-body">
            <h3 class="card-title text-center">Categorias</h3>
            <div class="row justify-content-center">
                <div class="scrollMenu">
                    <div class="col-6 col-md-2" >
                        <div class = "card">
                        <div class="card-img-top p-1 text-center">
                            <img src="../../../../assets/img/angular.jpg" class="mx-auto img-fluid iconImg"
                                alt="">
                        </div>
                        <div class="card-body text-center">
                            <button type="button" class="btn btn-secondary animation-on-hover btn-sm">Secondary</button>
                        </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-2">
                        <div class = "card">
                        <div class="card-img-top p-1 text-center">
                            <img src="../../../../assets/img/angular.jpg" class="mx-auto img-fluid iconImg"
                                alt="">
                        </div>
                        <div class="card-body text-center">
                            <button type="button" class="btn btn-secondary animation-on-hover btn-sm">Secondary</button>
                        </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-2">
                        <div class = "card">
                        <div class="card-img-top p-1 text-center">
                            <img src="../../../../assets/img/angular.jpg" class="mx-auto img-fluid iconImg"
                                alt="">
                        </div>
                        <div class="card-body text-center">
                            <button type="button" class="btn btn-secondary animation-on-hover btn-sm">Secondary</button>
                        </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-2">
                        <div class = "card">
                        <div class="card-img-top p-1 text-center">
                            <img src="../../../../assets/img/angular.jpg" class="mx-auto img-fluid iconImg"
                                alt="">
                        </div>
                        <div class="card-body text-center">
                            <button type="button" class="btn btn-secondary animation-on-hover btn-sm">Secondary</button>
                        </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-2">
                        <div class = "card">
                        <div class="card-img-top p-1 text-center">
                            <img src="../../../../assets/img/angular.jpg" class="mx-auto img-fluid iconImg"
                                alt="">
                        </div>
                        <div class="card-body text-center">
                            <button type="button" class="btn btn-secondary animation-on-hover btn-sm">Secondary</button>
                        </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-2">
                        <div class = "card">
                        <div class="card-img-top p-1 text-center">
                            <img src="../../../../assets/img/angular.jpg" class="mx-auto img-fluid iconImg"
                                alt="">
                        </div>
                        <div class="card-body text-center">
                            <button type="button" class="btn btn-secondary animation-on-hover btn-sm">Secondary</button>
                        </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-2">
                        <div class = "card">
                        <div class="card-img-top p-1 text-center">
                            <img src="../../../../assets/img/angular.jpg" class="mx-auto img-fluid iconImg"
                                alt="">
                        </div>
                        <div class="card-body text-center">
                            <button type="button" class="btn btn-secondary animation-on-hover btn-sm">Secondary</button>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h2 class="card-title text-center text-uppercase">{{service.name}}</h2>
            <hr color="purple" width="85%" />
            <br>
            <div class="row">
                <div class="col-sm-6 mx-auto">
                  <div class="card card-lock card-nav-tabs">
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <h4 class="card-title text-center">{{service.title}}</h4>
                          <p class="card-text text-center">{{service.description}}</p>
                        </div>
                        <div class="col text-right">
                          <img [src]="service.image" class="img-thumbnail" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 mx-auto text-center">
                  <button type="button" class="btn btn-success">
                    Acceder al paquete
                  </button>
                </div>
              </div>
        </div>
    </div>
</div>

<ngx-ui-loader fgsColor='gray' fgsType='three-strings' overlayColor="rgba(24,31,46)"></ngx-ui-loader>