.icon {
    width: 30px;
}
.img-service {
    width: 100% !important;
}
.iconImg{
    width: 70px;
}
.scrollMenu{
    display: flex;
    overflow-x: auto;
}
.scrollMenu::-webkit-scrollbar {
    height: 5px;
}
