<div class="content">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title"><b>EDITAR CONTENIDO</b></h2>
          <br>
          <hr color="purple" width="90%">
          <br>
          <div class="form-group">
            <div class="row">
              <div class="col-12 col-md-4">
                <nav>
                  <ul>
                    <li><a>Elige una opcion</a>
                      <ul>
                        <li><a>SERVICIO</a>
                          <ul>
                            <li *ngFor="let service of services"><a
                                (click)="content(service.id, 'service', service.title)">{{service.title| slice:0:18}}
                                ...</a></li>
                          </ul>
                        </li>
                        <li><a>CATEGORIA</a>
                          <ul>
                            <li *ngFor="let store of stores"><a
                                (click)="content(store.id, 'store', store.title)">{{store.title| slice:0:18}} ...</a>
                            </li>
                          </ul>
                        </li>
                        <li><a>ENTRENADOR</a>
                          <ul>
                            <li *ngFor="let trainer of trainers"><a
                                (click)="content(trainer.id, 'trainer', trainer.names)">{{trainer.names| slice:0:18}}
                                ...</a></li>
                          </ul>
                        </li>
                        <li><a>BLOG</a>
                          <ul>
                            <li *ngFor="let blog of blogs"><a
                                (click)="content(blog.id, 'blog', blog.name)">{{blog.name|
                                slice:0:18}} ...</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </nav>
                <br>
                <br>
                <p>Opcion elegida <strong>{{selectedOption}}</strong></p>
              </div>
              <div class="col-12 col-md-8">
                <h1 class="text-center">Promoción 1</h1>
                <div class="container-image text-center">
                  <div [ngSwitch]="updateImage">
                    <div *ngSwitchCase="0">
                      <img [src]="promotion.image" class="mx-auto d-block">
                    </div>
                    <div *ngSwitchCase="1">
                      <img [src]="imageContent">
                    </div>
                    <div *ngSwitchCase="2">
                      <img src="/../../../../assets/img/anime3.png" class="mx-auto d-block">
                    </div>
                  </div>
                  <div class="overlay">
                    <p class="text text-light" (click)="imageCropper(promotion.id)">cargar imagen</p>
                  </div>
                </div>
                <br>
              </div>
              <hr color="purple" width="90%" />
              <br />
              <div class="col-12 col-md-4">
                <nav>
                  <ul>
                    <li><a>Elige una opcion</a>
                      <ul>
                        <li><a>SERVICIO</a>
                          <ul>
                            <li *ngFor="let service of services"><a
                                (click)="content2(service.id, 'service', service.title)">{{service.title| slice:0:18}}
                                ...</a></li>
                          </ul>
                        </li>
                        <li><a>CATEGORIA</a>
                          <ul>
                            <li *ngFor="let store of stores"><a
                                (click)="content2(store.id, 'store', store.title)">{{store.title| slice:0:18}} ...</a>
                            </li>
                          </ul>
                        </li>
                        <li><a>ENTRENADOR</a>
                          <ul>
                            <li *ngFor="let trainer of trainers"><a
                                (click)="content2(trainer.id, 'trainer', trainer.names)">{{trainer.names| slice:0:18}}
                                ...</a></li>
                          </ul>
                        </li>
                        <li><a>BLOG</a>
                          <ul>
                            <li *ngFor="let blog of blogs"><a
                                (click)="content2(blog.id, 'blog', blog.name)">{{blog.name|
                                slice:0:18}} ...</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </nav>
                <br>
                <br>
                <p>Opcion elegida <strong>{{selectedOption2}}</strong></p>
              </div>
              <div class="col-12 col-md-8">
                <h1 class="text-center">Promoción 2</h1>
                <div class="container-image text-center">
                  <div [ngSwitch]="updateImage2">
                    <div *ngSwitchCase="0">
                      <img [src]="promotion2.image" class="mx-auto d-block">
                    </div>
                    <div *ngSwitchCase="1">
                      <img [src]="imageContent2">
                    </div>
                    <div *ngSwitchCase="2">
                      <img src="/../../../../assets/img/anime3.png" class="mx-auto d-block">
                    </div>
                  </div>
                  <div class="overlay">
                    <p class="text text-light" (click)="imageCropper2(promotion.id)">cargar imagen</p>
                  </div>
                </div>
                <br>
              </div>
              <hr color="purple" width="90%" />
              <br />
              <div class="col-12 col-md-4">
                <nav>
                  <ul>
                    <li><a>Elige una opcion</a>
                      <ul>
                        <li><a>SERVICIO</a>
                          <ul>
                            <li *ngFor="let service of services"><a
                                (click)="content3(service.id, 'service', service.title)">{{service.title| slice:0:18}}
                                ...</a></li>
                          </ul>
                        </li>
                        <li><a>CATEGORIA</a>
                          <ul>
                            <li *ngFor="let store of stores"><a
                                (click)="content3(store.id, 'store', store.title)">{{store.title| slice:0:18}} ...</a>
                            </li>
                          </ul>
                        </li>
                        <li><a>ENTRENADOR</a>
                          <ul>
                            <li *ngFor="let trainer of trainers"><a
                                (click)="content3(trainer.id, 'trainer', trainer.names)">{{trainer.names| slice:0:18}}
                                ...</a></li>
                          </ul>
                        </li>
                        <li><a>BLOG</a>
                          <ul>
                            <li *ngFor="let blog of blogs"><a
                                (click)="content3(blog.id, 'blog', blog.name)">{{blog.name|
                                slice:0:18}} ...</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </nav>
                <br>
                <br>
                <p>Opcion elegida <strong>{{selectedOption3}}</strong></p>
              </div>
              <div class="col-12 col-md-8">
                <h1 class="text-center">Promoción 3</h1>
                <div class="container-image text-center">
                  <div [ngSwitch]="updateImage3">
                    <div *ngSwitchCase="0">
                      <img [src]="promotion3.image" class="mx-auto d-block">
                    </div>
                    <div *ngSwitchCase="1">
                      <img [src]="imageContent3">
                    </div>
                    <div *ngSwitchCase="2">
                      <img src="/../../../../assets/img/anime3.png" class="mx-auto d-block">
                    </div>
                  </div>
                  <div class="overlay">
                    <p class="text text-light" (click)="imageCropper3(promotion.id)">cargar imagen</p>
                  </div>
                </div>
                <br>
              </div>
              <hr color="purple" width="90%" />
              <br />
              <div class="col-12 col-md-4">
                <nav>
                  <ul>
                    <li><a>Elige una opcion</a>
                      <ul>
                        <li><a>SERVICIO</a>
                          <ul>
                            <li *ngFor="let service of services"><a
                                (click)="content4(service.id, 'service', service.title)">{{service.title| slice:0:18}}
                                ...</a></li>
                          </ul>
                        </li>
                        <li><a>CATEGORIA</a>
                          <ul>
                            <li *ngFor="let store of stores"><a
                                (click)="content4(store.id, 'store', store.title)">{{store.title| slice:0:18}} ...</a>
                            </li>
                          </ul>
                        </li>
                        <li><a>ENTRENADOR</a>
                          <ul>
                            <li *ngFor="let trainer of trainers"><a
                                (click)="content4(trainer.id, 'trainer', trainer.names)">{{trainer.names| slice:0:18}}
                                ...</a></li>
                          </ul>
                        </li>
                        <li><a>BLOG</a>
                          <ul>
                            <li *ngFor="let blog of blogs"><a
                                (click)="content4(blog.id, 'blog', blog.name)">{{blog.name|
                                slice:0:18}} ...</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </nav>
                <br>
                <br>
                <p>Opcion elegida <strong>{{selectedOption4}}</strong></p>
              </div>
              <div class="col-12 col-md-8">
                <h1 class="text-center">Promoción 4</h1>
                <div class="container-image text-center">
                  <div [ngSwitch]="updateImage4">
                    <div *ngSwitchCase="0">
                      <img [src]="promotion4.image" class="mx-auto d-block">
                    </div>
                    <div *ngSwitchCase="1">
                      <img [src]="imageContent4">
                    </div>
                    <div *ngSwitchCase="2">
                      <img src="/../../../../assets/img/anime3.png" class="mx-auto d-block">
                    </div>
                  </div>
                  <div class="overlay">
                    <p class="text text-light" (click)="imageCropper4(promotion.id)">cargar imagen</p>
                  </div>
                </div>
                <br>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-warning btn-sm pull-right" (click)="edit()">Editar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-ui-loader fgsColor='gray' fgsType='three-strings' overlayColor="rgba(24,31,46)" text="Editando ...">
</ngx-ui-loader>
