<div class="content">
    <div id="test" class="container">
        <div class="card card-user col-md-8 m-2 mx-auto" *ngIf="!result">
            <div class="card-body">
                <div class="card-title text-center">
                    <p class="text-center">{{currentTest + 1}} de {{test.length}}</p>
                    <h3>{{ test[currentTest].question }}</h3>
                    <img src="../../../../assets/img/angular.jpg" class="mx-auto img-fuild" width="100" height="100"
                        alt="">
                </div>
                <div class="text-right">
                    <button [disabled]="btnBlock" (click)="transition(test[currentTest].optionA)"
                        class="btn btn-warning text-left border btn-round btn-block btn-fuild btn-lg">
                        <strong class="m-2">a)</strong>
                        {{ test[currentTest].optionA}}
                    </button>
                    <button [disabled]="btnBlock" (click)="nextTest(test[currentTest].optionB)"
                        class="btn btn-success text-left border btn-round btn-block btn-lg">
                        <strong class="m-2">b)</strong>
                        {{test[currentTest].optionB}}
                    </button>
                    <button [disabled]="btnBlock" (click)="nextTest(test[currentTest].optionC)"
                        class="btn btn-primary text-left border btn-round btn-block btn-lg">
                        <strong class="m-2">c)</strong>
                        {{test[currentTest].optionC}}
                    </button>
                </div>
            </div>
        
      
            <div class="card-body" *ngIf="result">
                <p class="card-text"></p>
                <div class="author">
                    <div class="block block-one"></div>
                    <div class="block block-two"></div>
                    <div class="block block-three"></div>
                    <div class="block block-four"></div>
                    <img src="../../../assets/img/emilyz.jpg" class="avatar" />
                    <h3 class="card-header card-header-info">RESULTADO</h3>
                    <i class="far fa-lightbulb fa-6x"></i>
                    <br>
                    <br>
                    <p class="card-text">El resultado viene aquí</p>
                </div>
            </div>
        </div>
    </div>
</div>
