<div class="content">
    <div class="header">
        <ngb-carousel>
            <ng-template ngbSlide *ngFor="let promotion of promotions">
                <div class="picsum-img-wrapper">
                    <a [routerLink]="promotion.content">
                        <img [src]="promotion.image" class="img-fluid image-promotion">
                    </a>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
    <div class="main">
        <div class="service">
            <h3 class=" title mt-5 text-center">SERVICIOS</h3>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-4" *ngFor="let service of services">
                        <div class="card card-user">
                            <div class="card-body">
                                <div class="author">
                                    <a [routerLink]="['/customer/service/view', service.id]">
                                        <img [src]="service.image" class="img-thumbnail" alt="">
                                        <br><br>
                                        <h4 class=" title">{{service.title}}</h4>
                                    </a>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="button-container">
                                    <b class="d-none d-sm-block">compartir</b>
                                    <app-share-button [text]="service.title" [shareUrl]="['customer/service/view/'+service.id]"></app-share-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="store">
            <h3 class=" title mt-5 text-center">TIENDAS</h3>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-4" *ngFor="let store of stores">
                        <div class="card card-user">
                            <div class="card-body">
                                <div class="author">
                                    <a [routerLink]="['/customer/store/view', store.id]">
                                        <img [src]="store.image" class="img-thumbnail" alt="">
                                        <br><br>
                                        <h4 class="title">{{store.title}}</h4>
                                    </a>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="button-container">
                                    <b class="d-none d-sm-block">compartir</b>
                                    <app-share-button [text]="store.title" [shareUrl]="['customer/store/view/'+store.id]"></app-share-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="trainer">
            <h3 class=" title mt-5 text-center">ENTRENADORES</h3>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-4" *ngFor="let trainer of trainers">
                        <div class=" card card-user">
                            <a [routerLink]="['/customer/trainer/view', trainer.id]">
                                <img class="card-img img-fluid" [src]="trainer.imageLection">
                                <div class="card-img-overlay">
                                    <h3 class="card-title text-center">{{trainer.nameLection}}</h3>
                                </div>
                                <div class="card-body">
                                    <div class="author">
                                        <img alt="..." class="avatar" [src]="trainer.icon" />
                                        <h4 class=" title">{{trainer.names}}</h4>
                                    </div>
                                </div>
                            </a>
                            <div class=" card-footer">
                                <div class=" button-container">
                                    <app-share-button [text]="trainer.names" [shareUrl]="['customer/trainer/view/'+trainer.id]"></app-share-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="blog">
            <h3 class=" title mt-5 text-center">BLOGS</h3>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-4" *ngFor="let blog of blogs">
                        <div class="card card-user">
                            <div class="card-body">
                                <div class="author">
                                    <a [routerLink]="['/customer/blog/view', blog.id]">
                                        <img [src]="blog.banner" class="img-thumbnail" alt="">
                                        <br><br>
                                        <h4 class=" title">{{blog.name}}</h4>
                                    </a>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="button-container">
                                    <b class="d-none d-sm-block">compartir</b>
                                    <app-share-button [text]="blog.name" [shareUrl]="['customer/blog/view/'+blog.id]"></app-share-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="testimonials">
            <h3 class=" title mt-5 text-center">TESTIMONIOS</h3>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-md-4" *ngFor="let statement of statements">
                        <div class="card card-stats">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-5">
                                        <div class="author">
                                            <img [src]="statement.image" />
                                        </div>
                                    </div>
                                    <div class="col-7">
                                        <div class="numbers">
                                            <p class="card-category">{{statement.name}}</p>
                                            <h5 class="card-title">{{statement.description}}</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ngx-ui-loader class="loading-page" fgsColor='gray' fgsType='three-strings' overlayColor="rgba(24,31,46)"></ngx-ui-loader>