<div class="content">
    <app-navbar-home></app-navbar-home>
    <div class="header">
        <ngb-carousel *ngIf="images">
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img [src]="images[0]" alt="Random first slide" class="img-fluid">
              </div>
              <div class="carousel-caption">
                <h3>First slide label</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img [src]="images[1]" alt="Random second slide" class="img-fluid">
              </div>
              <div class="carousel-caption">
                <h3>Second slide label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img [src]="images[2]" alt="Random third slide" class="img-fluid">
              </div>
              <div class="carousel-caption">
                <h3>Third slide label</h3>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
              </div>
            </ng-template>
          </ngb-carousel>
    </div>
    <br>
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="card card-user">
                        <div class="card-body">
                            <div class="author">
                                <a href="">
                                    <img src="../../../assets/img/emilyz.jpg" class="img-thumbnail" alt="">
                                </a>
                                <h4 class="title">Mike Andrew</h4>
                            </div>
                            <div class=" card-footer">
                                <div class=" button-container">
                                    <button class=" btn btn-icon btn-round btn-facebook" href="javascript:void(0)">
                                        <i class=" fab fa-facebook"> </i>
                                    </button>
                                    <button class=" btn btn-icon btn-round btn-twitter" href="javascript:void(0)">
                                        <i class=" fab fa-twitter"> </i>
                                    </button>
                                    <button class=" btn btn-icon btn-round btn-google" href="javascript:void(0)">
                                        <i class=" fab fa-google-plus"> </i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card card-user">
                        <div class="card-body">
                            <div class="author">
                                <a href="">
                                    <img src="../../../assets/img/emilyz.jpg" class="img-thumbnail" alt="">
                                </a>
                                <h4 class="title">Mike Andrew</h4>
                            </div>
                            <div class="card-footer">
                                <div class=" button-container">
                                    <button class="btn btn-icon btn-round btn-facebook" href="javascript:void(0)">
                                        <i class="fab fa-facebook"> </i>
                                    </button>
                                    <button class="btn btn-icon btn-round btn-twitter" href="javascript:void(0)">
                                        <i class="fab fa-twitter"> </i>
                                    </button>
                                    <button class="btn btn-icon btn-round btn-google" href="javascript:void(0)">
                                        <i class="fab fa-google-plus"> </i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card card-user">
                        <div class="card-body">
                            <div class="author">
                                <a href="">
                                    <img src="../../../assets/img/emilyz.jpg" class="img-thumbnail" alt="">
                                </a>
                                <h4 class="title">Mike Andrew</h4>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="button-container">
                                <button class="btn btn-icon btn-round btn-facebook" href="javascript:void(0)">
                                    <i class="fab fa-facebook"> </i>
                                </button>
                                <button class="btn btn-icon btn-round btn-twitter" href="javascript:void(0)">
                                    <i class="fab fa-twitter"> </i>
                                </button>
                                <button class="btn btn-icon btn-round btn-google" href="javascript:void(0)">
                                    <i class="fab fa-google-plus"> </i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="store">
            <h3 class=" title mt-5 text-center">TIENDA</h3>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="card card-user">
                            <div class="card-body">
                                <div class="author">
                                    <a href="">
                                        <img src="../../../assets/img/bg5.jpg" class="img-thumbnail" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="button-container">
                                    <button class="btn btn-icon btn-round btn-facebook" href="javascript:void(0)">
                                        <i class="fab fa-facebook"> </i>
                                    </button>
                                    <button class="btn btn-icon btn-round btn-twitter" href="javascript:void(0)">
                                        <i class="fab fa-twitter"> </i>
                                    </button>
                                    <button class="btn btn-icon btn-round btn-google" href="javascript:void(0)">
                                        <i class="fab fa-google-plus"> </i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="card card-user">
                            <div class="card-body">
                                <div class="author">
                                    <a href="">
                                        <img src="../../../assets/img/bg5.jpg" class="img-thumbnail" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="button-container">
                                    <button class="btn btn-icon btn-round btn-facebook" href="javascript:void(0)">
                                        <i class="fab fa-facebook"> </i>
                                    </button>
                                    <button class="btn btn-icon btn-round btn-twitter" href="javascript:void(0)">
                                        <i class="fab fa-twitter"> </i>
                                    </button>
                                    <button class="btn btn-icon btn-round btn-google" href="javascript:void(0)">
                                        <i class="fab fa-google-plus"> </i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="card card-user">
                            <div class="card-body">
                                <div class="author">
                                    <a href="">
                                        <img src="../../../assets/img/bg5.jpg" class="img-thumbnail" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="button-container">
                                    <button class="btn btn-icon btn-round btn-facebook" href="javascript:void(0)">
                                        <i class="fab fa-facebook"> </i>
                                    </button>
                                    <button class="btn btn-icon btn-round btn-twitter" href="javascript:void(0)">
                                        <i class="fab fa-twitter"> </i>
                                    </button>
                                    <button class="btn btn-icon btn-round btn-google" href="javascript:void(0)">
                                        <i class="fab fa-google-plus"> </i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="card card-user">
                            <div class="card-body">
                                <div class="author">
                                    <a href="">
                                        <img src="../../../assets/img/bg5.jpg" class="img-thumbnail" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="button-container">
                                    <button class="btn btn-icon btn-round btn-facebook" href="javascript:void(0)">
                                        <i class="fab fa-facebook"> </i>
                                    </button>
                                    <button class="btn btn-icon btn-round btn-twitter" href="javascript:void(0)">
                                        <i class="fab fa-twitter"> </i>
                                    </button>
                                    <button class="btn btn-icon btn-round btn-google" href="javascript:void(0)">
                                        <i class="fab fa-google-plus"> </i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="card card-user">
                            <div class="card-body">
                                <div class="author">
                                    <a href="">
                                        <img src="../../../assets/img/bg5.jpg" class="img-thumbnail" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="button-container">
                                    <button class="btn btn-icon btn-round btn-facebook" href="javascript:void(0)">
                                        <i class="fab fa-facebook"> </i>
                                    </button>
                                    <button class="btn btn-icon btn-round btn-twitter" href="javascript:void(0)">
                                        <i class="fab fa-twitter"> </i>
                                    </button>
                                    <button class="btn btn-icon btn-round btn-google" href="javascript:void(0)">
                                        <i class="fab fa-google-plus"> </i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="card card-user">
                            <div class="card-body">
                                <div class="author">
                                    <a href="">
                                        <img src="../../../assets/img/bg5.jpg" class="img-thumbnail" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="button-container">
                                    <button class="btn btn-icon btn-round btn-facebook" href="javascript:void(0)">
                                        <i class="fab fa-facebook"> </i>
                                    </button>
                                    <button class="btn btn-icon btn-round btn-twitter" href="javascript:void(0)">
                                        <i class="fab fa-twitter"> </i>
                                    </button>
                                    <button class="btn btn-icon btn-round btn-google" href="javascript:void(0)">
                                        <i class="fab fa-google-plus"> </i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="card card-user">
                            <div class="card-body">
                                <div class="author">
                                    <a href="">
                                        <img src="../../../assets/img/bg5.jpg" class="img-thumbnail" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="button-container">
                                    <button class="btn btn-icon btn-round btn-facebook" href="javascript:void(0)">
                                        <i class="fab fa-facebook"> </i>
                                    </button>
                                    <button class="btn btn-icon btn-round btn-twitter" href="javascript:void(0)">
                                        <i class="fab fa-twitter"> </i>
                                    </button>
                                    <button class="btn btn-icon btn-round btn-google" href="javascript:void(0)">
                                        <i class="fab fa-google-plus"> </i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="card card-user">
                            <div class="card-body">
                                <div class="author">
                                    <a href="">
                                        <img src="../../../assets/img/bg5.jpg" class="img-thumbnail" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="button-container">
                                    <button class="btn btn-icon btn-round btn-facebook" href="javascript:void(0)">
                                        <i class="fab fa-facebook"> </i>
                                    </button>
                                    <button class="btn btn-icon btn-round btn-twitter" href="javascript:void(0)">
                                        <i class="fab fa-twitter"> </i>
                                    </button>
                                    <button class="btn btn-icon btn-round btn-google" href="javascript:void(0)">
                                        <i class="fab fa-google-plus"> </i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="card card-user">
                            <div class="card-body">
                                <div class="author">
                                    <a href="">
                                        <img src="../../../assets/img/bg5.jpg" class="img-thumbnail" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="button-container">
                                    <button class="btn btn-icon btn-round btn-facebook" href="javascript:void(0)">
                                        <i class="fab fa-facebook"> </i>
                                    </button>
                                    <button class="btn btn-icon btn-round btn-twitter" href="javascript:void(0)">
                                        <i class="fab fa-twitter"> </i>
                                    </button>
                                    <button class="btn btn-icon btn-round btn-google" href="javascript:void(0)">
                                        <i class="fab fa-google-plus"> </i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="trainer">
            <h3 class=" title mt-5 text-center">ENTRENADORES</h3>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class=" card card-user">
                            <img class="card-img img-fluid" src="../../../assets/img/image.jpg" alt="Card image">
                            <div class="card-img-overlay">
                                <h3 class="card-title text-center text-trainer">AEROBICOS</h3>
                            </div>
                            <div class="card-body">
                                <div class="author">
                                    <a href="javascript:void(0)">
                                        <img alt="..." class="avatar" src="assets/img/emilyz.jpg" />
                                        <h5 class=" title">Mike Andrew</h5>
                                    </a>
                                </div>
                            </div>
                            <div class=" card-footer">
                                <div class=" button-container">
                                    <button class=" btn btn-icon btn-round btn-facebook" href="javascript:void(0)">
                                        <i class=" fab fa-facebook"> </i>
                                    </button>
                                    <button class=" btn btn-icon btn-round btn-twitter" href="javascript:void(0)">
                                        <i class=" fab fa-twitter"> </i>
                                    </button>
                                    <button class=" btn btn-icon btn-round btn-google" href="javascript:void(0)">
                                        <i class=" fab fa-google-plus"> </i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class=" card card-user">
                            <img class="card-img img-fluid" src="../../../assets/img/image.jpg" alt="Card image">
                            <div class="card-img-overlay">
                                <h3 class="card-title text-center text-trainer">AEROBICOS</h3>
                            </div>
                            <div class="card-body">
                                <div class="author">
                                    <a href="javascript:void(0)">
                                        <img alt="..." class="avatar" src="assets/img/emilyz.jpg" />
                                        <h5 class=" title">Mike Andrew</h5>
                                    </a>
                                </div>
                            </div>
                            <div class=" card-footer">
                                <div class=" button-container">
                                    <button class=" btn btn-icon btn-round btn-facebook" href="javascript:void(0)">
                                        <i class=" fab fa-facebook"> </i>
                                    </button>
                                    <button class=" btn btn-icon btn-round btn-twitter" href="javascript:void(0)">
                                        <i class=" fab fa-twitter"> </i>
                                    </button>
                                    <button class=" btn btn-icon btn-round btn-google" href="javascript:void(0)">
                                        <i class=" fab fa-google-plus"> </i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class=" card card-user">
                            <img class="card-img img-fluid" src="../../../assets/img/image.jpg" alt="Card image">
                            <div class="card-img-overlay">
                                <h3 class="card-title text-center text-trainer">AEROBICOS</h3>
                            </div>
                            <div class="card-body">
                                <div class="author">
                                    <a href="javascript:void(0)">
                                        <img alt="..." class="avatar" src="assets/img/emilyz.jpg" />
                                        <h5 class=" title">Mike Andrew</h5>
                                    </a>
                                </div>
                            </div>
                            <div class=" card-footer">
                                <div class=" button-container">
                                    <button class=" btn btn-icon btn-round btn-facebook" href="javascript:void(0)">
                                        <i class=" fab fa-facebook"> </i>
                                    </button>
                                    <button class=" btn btn-icon btn-round btn-twitter" href="javascript:void(0)">
                                        <i class=" fab fa-twitter"> </i>
                                    </button>
                                    <button class=" btn btn-icon btn-round btn-google" href="javascript:void(0)">
                                        <i class=" fab fa-google-plus"> </i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="blog">
            <h3 class=" title mt-5 text-center">BLOG</h3>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="card card-user">
                            <div class="card-body">
                                <div class="author">
                                    <img src="../../../assets/img/bg5.jpg" class="img-fluid" alt="">
                                    <button class="btn btn-sm btn-fill btn-info">dieta</button>
                                </div>
                            </div>
                            <div class=" card-footer">
                                <div class=" button-container">
                                    <button class=" btn btn-icon btn-round btn-facebook" href="javascript:void(0)">
                                        <i class=" fab fa-facebook"> </i>
                                    </button>
                                    <button class=" btn btn-icon btn-round btn-twitter" href="javascript:void(0)">
                                        <i class=" fab fa-twitter"> </i>
                                    </button>
                                    <button class=" btn btn-icon btn-round btn-google" href="javascript:void(0)">
                                        <i class=" fab fa-google-plus"> </i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="card card-user">
                            <div class="card-body">
                                <div class="author">
                                    <img src="../../../assets/img/bg5.jpg" class="img-fluid" alt="">
                                    <button class="btn btn-sm btn-fill btn-info">dieta</button>
                                </div>
                            </div>
                            <div class=" card-footer">
                                <div class=" button-container">
                                    <button class=" btn btn-icon btn-round btn-facebook" href="javascript:void(0)">
                                        <i class=" fab fa-facebook"> </i>
                                    </button>
                                    <button class=" btn btn-icon btn-round btn-twitter" href="javascript:void(0)">
                                        <i class=" fab fa-twitter"> </i>
                                    </button>
                                    <button class=" btn btn-icon btn-round btn-google" href="javascript:void(0)">
                                        <i class=" fab fa-google-plus"> </i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="card card-user">
                            <div class="card-body">
                                <div class="author">
                                    <img src="../../../assets/img/bg5.jpg" class="img-fluid" alt="">
                                    <button class="btn btn-sm btn-fill btn-info">dieta</button>
                                </div>
                            </div>
                            <div class=" card-footer">
                                <div class=" button-container">
                                    <button class=" btn btn-icon btn-round btn-facebook" href="javascript:void(0)">
                                        <i class=" fab fa-facebook"> </i>
                                    </button>
                                    <button class=" btn btn-icon btn-round btn-twitter" href="javascript:void(0)">
                                        <i class=" fab fa-twitter"> </i>
                                    </button>
                                    <button class=" btn btn-icon btn-round btn-google" href="javascript:void(0)">
                                        <i class=" fab fa-google-plus"> </i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="testimonials">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="card card-stats">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-5">
                                        <div class="author">
                                            <img src="assets/img/emilyz.jpg" />
                                        </div>
                                    </div>
                                    <div class="col-7">
                                        <div class="numbers">
                                            <p class="card-category">eiusmod tempor incididunt</p>
                                            <h5 class="card-title">dolore magna aliqua. Ut enim ad minim veniam, quis
                                                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                                consequat</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="card card-stats">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-5">
                                        <div class="author">
                                            <img src="assets/img/emilyz.jpg" />
                                        </div>
                                    </div>
                                    <div class="col-7">
                                        <div class="numbers">
                                            <p class="card-category">eiusmod tempor incididunt</p>
                                            <h5 class="card-title">dolore magna aliqua. Ut enim ad minim veniam, quis
                                                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                                consequat</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="card card-stats">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-5">
                                        <div class="author">
                                            <img src="assets/img/emilyz.jpg" />
                                        </div>
                                    </div>
                                    <div class="col-7">
                                        <div class="numbers">
                                            <p class="card-category">eiusmod tempor incididunt</p>
                                            <h5 class="card-title">dolore magna aliqua. Ut enim ad minim veniam, quis
                                                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                                consequat</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-float-social></app-float-social>
    <app-footer></app-footer>
</div>