.image-promotion {
    width: 100%;
    height: 530px !important;
}

.countdown{
    
    margin: 0 auto;
    text-align: center;
    border-collapse: separate;
    border-spacing: 10px;
}
.time{
    font-size: 3rem;
}
.time td{
    border: 5px solid;
    width:100px;
}


@media (min-width: 768px) { 
    -image-promotion {
        width: 100%;
        height: 530px !important;
    }
}

.img-thumbnail {
  height: 190px;
  width: 100%;
}

@media (min-width: 768px) {
  -image-promotion {
    width: 100%;
    height: 530px !important;
  }
}
