.fa-facebook {
  color: #3b5998;
}
.fa-facebook-f {
  color: #3b5998;
}
.fa-twitter {
  color: #00aced;
}
.fa-google-plus-g {
  color: #dd4b39;
}
.fa-telegram-plane{
  color: #0088cc;
}
.fa-linkedin-in{
	color: #2867B2;
}
.fa-whatsapp{
	color: #25D366;
}
.fa-envelope{
	color: #fff;
}
.fa-instagram{
	color: #E1306c;
}