<button class="btn btn-icon btn-simple bt-lg" (click)="share('facebook')">
    <i class="fab fa-facebook-f"></i>
</button>
<button class="btn btn-icon btn-simple bt-lg" (click)="share('twitter')">
    <i class="fab fa-twitter"> </i>
</button>
<button class="btn btn-icon btn-simple bt-lg" (click)="share('linkedin')">
    <i class="fab fa-linkedin-in"></i>
</button>
<button class="btn btn-icon btn-simple bt-lg" (click)="share('telegram')">
    <i class="fab fa-telegram-plane"></i>
</button>
<button class="btn btn-icon btn-simple bt-lg" (click)="share('whatsapp')">
    <i class="fab fa-whatsapp"></i>
</button>