<i class="fas fa-share fa-2x mr-2" placement="top" ngbTooltip="Compartir"></i>

<button class="btn btn-icon btn-simple bt-lg" placement="top" ngbTooltip="Facebook" (click)="share('facebook')">
    <i class="fab fa-facebook-f"></i>
</button>
<!-- <button class="btn btn-icon btn-simple bt-lg" placement="top" ngbTooltip="Twitter" (click)="share('twitter')">
    <i class="fab fa-twitter"> </i>
</button>
<button class="btn btn-icon btn-simple bt-lg"  placement="top" ngbTooltip="Linkedin" (click)="share('linkedin')">
    <i class="fab fa-linkedin-in"></i>
</button> -->
<button class="btn btn-icon btn-simple bt-lg" placement="top" ngbTooltip="Telegram" (click)="share('telegram')">
    <i class="fab fa-telegram-plane"></i>
</button>
<button class="btn btn-icon btn-simple bt-lg" placement="top" ngbTooltip="Whatsapp" (click)="share('whatsapp')">
    <i class="fab fa-whatsapp"></i>
</button>