.container-blogImg{
    position: relative;
    left: 0;
    top:0;
    height: 500px;
}

.blogimg1{
    position: absolute;
    top: 40px;
    left: 40px;
    z-index:1;
}

.blogimg2{
    position: absolute;
    height: 500px;
    width: 100%;
    z-index: -1;
}

.iconImg{
    width: 80px;
    height: 80px;
}