<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <br><br>
                <div class="d-flex justify-content-center">
                    <div class="card">
                        <div class="card-header">
                            <h2 class="text-center">titulo de confirmacion</h2>
                        </div>
                        <div class="card-body">
                            <p class="text-center">descripion de agradecimineto</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>