<div class=" content">
    <div class=" row">
        <div class=" col-md-12">
            <div class="card card-user">
                <form (ngSubmit)="post()">
                    <div class=" card-body">
                        <div style="text-align: center">
                            <h2>BLOG</h2>
                            <h5>Puedes añadir hasta 12 artículos</h5>
                        </div>
                        <br>
                        <hr />
                        <form [formGroup]="blog">
                            <div class="row">
                                <div class="col-12">
                                    <label>Nombre del Blog</label>
                                    <input class=" form-control" placeholder="Coloca el nombre del blog" type="text"
                                        formControlName="name">
                                    <small *ngIf="name.invalid && name.touched" class="text-danger"> *El nombre es <strong>requerido</strong></small>
                                </div>
                                <div class="col-12 col-md-5">
                                    <h4 class="text-center">Icono del blog</h4>
                                    <div class="container-image p-2">
                                        <img src="../../../../assets/img/anime3.png" alt="IconBlog"
                                            class="img-thumbnail mx-auto d-block" *ngIf="!icon; else noImageIcon">
                                        <ng-template #noImageIcon>
                                            <img [src]="icon" class="img-thumbnail mx-auto d-block">
                                        </ng-template>
                                        <div class="overlay" (click)="showIcon()">
                                            <div class="text text-light">
                                                <i class="tim-icons icon-upload"> </i>
                                                Agregar icono para tu blog (opcional)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-7">
                                    <h4 class="text-center">Banner del blog</h4>
                                    <div class="container-image p-2">
                                        <img src="../../../../assets/img/angular2-logo-red.png"
                                            class="img-thumbnail mx-auto d-block"
                                            *ngIf="!banner; else noBanner">
                                        <ng-template #noBanner>
                                            <img [src]="banner" class="img-thumbnail mx-auto d-block">
                                        </ng-template>
                                        <div class="overlay" (click)="showBanner()">
                                            <div class="text text-light">
                                                <i class="tim-icons icon-upload"> </i>
                                                Agregar imagen o video a la portada
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <hr color="purple" />
                            <br>
                        </form>
                        <form [formGroup]="articleForm">
                            <div style="text-align: center">
                                <h4>Artículos</h4>
                            </div>
                            <div formArrayName="article">
                                <div *ngFor="let FormInputs of article.controls; let i = index;">
                                    <div [formGroupName]="i">
                                        <br />
                                        <br />
                                        <div class="row pl-1 pl-md-3">
                                            <p>Artículo {{i+1}}</p>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-md-5">
                                                <div class="container-image">
                                                    <img src="../../../../assets/img/img_3115.jpg" alt="articleImage"
                                                        width="100%" height="100%" class="d-block img-responsive"
                                                        *ngIf="!articleImage[i]; else noArticleImage">
                                                    <ng-template #noArticleImage>
                                                        <img [src]="articleImage[i]" alt="" width="100%" height="100%"
                                                            class="d-block img-responsive">
                                                    </ng-template>
                                                    <div class="overlay" (click)="showBlog(i)">
                                                        <div class="text text-light">
                                                            <i class="tim-icons icon-upload"> </i>
                                                            Agregar imagen o video al artículo
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-7">
                                                <label> Titulo </label>
                                                <input class=" form-control" [attr.id]="'Title' + i"
                                                    placeholder="Coloca el titulo del artículo" formControlName="title"
                                                    type="text">
                                                <div *ngIf="article.controls[i].get('title').invalid && 
                                            article.controls[i].get('title').touched">
                                                    <small class="text-danger"> *El titulo es
                                                        <strong>requerido</strong></small>
                                                    <br>
                                                    <br>
                                                </div>
                                                <label>Descripcion del articulo </label>
                                                <textarea class="form-control rounded pl-2 pr-2"
                                                    [attr.id]="'Description' + i"
                                                    placeholder="Coloca el contenido del articulo" rows="6"
                                                    formControlName="description" value=""></textarea>
                                                <small *ngIf="article.controls[i].get('description').invalid && 
                                                article.controls[i].get('description').touched" class="text-danger">
                                                    *La descripcion es <strong>requerida</strong></small>
                                            </div>
                                        </div>
                                        <br>
                                        <hr color="purple" />
                                        <button (click)="removeArticle(i)"
                                            class="btn btn-danger btn-fab btn-icon btn-round float-left">
                                            <i class="tim-icons icon-simple-delete"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class=" button-container">
                                <button (click)="addArticle()" [disabled]="btnAddArticle"
                                    class="btn btn-primary btn-fab btn-icon btn-round float-right"
                                    href="javascript:void(0)">
                                    <i class="tim-icons icon-simple-add"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                    <br>
                    <br>
                    <div class="card-footer">
                        <div class=" button-container pull-right">
                            <button type="submit" class="btn btn-info" [disabled]="blog.invalid || article.invalid">
                                Guardar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<ngx-ui-loader fgsColor='gray' fgsType='three-strings' overlayColor="rgba(58,55,54)" text="Creando blog ...">
</ngx-ui-loader>