<div class=" content">
    <div class=" row">
        <div class=" col-md-12">
            <div class="card card-user">
                <div class=" card-body">
                    <div style="text-align: center">
                        <h2>BLOG</h2>
                        <h5>Puedes añadir hasta 12 artículos</h5>
                    </div>
                    <br>
                    <hr>
                    <br />
                    <form [formGroup]="blogForm">
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-5">
                                <label> Nombre del Blog </label>
                                <input class=" form-control" placeholder="Coloca el nombre del blog" type="text"
                                    value="" formControlName="blogTitle">
                            </div>
                        </div>
                        <!-- <br>
                        <hr color="purple" />
                        <br> -->
                        <div class="row">
                            <div class="col-12 col-md-3">
                                <div class="container-image">
                                    <img id="prueba" src="../../../../assets/img/anime3.png" alt="IconBlog"
                                        class="mx-auto d-block" *ngIf="!iconImage; else noImageIcon">
                                    <ng-template #noImageIcon>
                                        <img [src]="iconImage" alt="">
                                    </ng-template>
                                    <div class="overlay" (click)="showIcon()">
                                        <div class="text text-light">
                                            <i class="tim-icons icon-upload"> </i>
                                            Agregar icono para tu blog (opcional)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-9 text-center">
                                <div class="container-image">
                                    <img src="../../../../assets/img/bg5.jpg" alt="PortraitImage"
                                        class="mx-auto d-block" *ngIf="!portraitImage; else noImagePortrait">
                                    <ng-template #noImagePortrait>
                                        <img [src]="portraitImage" alt="">
                                    </ng-template>
                                    <div class="overlay" (click)="showPortrait()">
                                        <div class="text text-light">
                                            <i class="tim-icons icon-upload"> </i>
                                            Agregar imagen o video a la portada
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <hr />
                        <br>
                        <div style="text-align: center">
                            <h4>Artículos</h4>
                        </div>
                        <div formArrayName="article">
                            <div *ngFor="let FormInputs of article.controls; let i = index;">
                                <div [formGroupName]="i">
                                    <br />
                                    <br />
                                    <div class="row pl-1 pl-md-3">
                                        <p>Artículo {{i+1}}</p>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-5">
                                            <div class="container-image">
                                                <img src="../../../../assets/img/img_3115.jpg" alt="BlogImage"
                                                    class="mx-auto d-block" *ngIf="!blogImage; else noImageBlog">
                                                <ng-template #noImageBlog>
                                                    <img [src]="blogImage" alt="">
                                                </ng-template>
                                                <div class="overlay" (click)="showBlog()">
                                                    <div class="text text-light">
                                                        <i class="tim-icons icon-upload"> </i>
                                                        Agregar imagen o video al artículo
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-7">
                                            <label> Titulo </label>
                                            <input class=" form-control" [attr.id]="'Title' + i"
                                                placeholder="Coloca el titulo del artículo" formControlName="title"
                                                type="text">
                                            <label> Contenido del artículo </label>
                                            <textarea class="form-control rounded p-2" [attr.id]="'Description' + i"
                                                placeholder="Coloca el contenido del artículo" rows="6"
                                                formControlName="themeDevelop"></textarea>
                                        </div>
                                    </div>
                                    <br>
                                    <hr color="purple" />
                                    <button (click)="removeArticle(i)"
                                        class="btn btn-danger btn-fab btn-icon btn-round float-left">
                                        <i class="tim-icons icon-simple-delete"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <button (click)="addArticleForm()" [disabled]="btnAddArticle" style="cursor:pointer;"
                        class="btn btn-primary btn-fab btn-icon btn-round float-right" href="javascript:void(0)">
                        <i class="tim-icons icon-simple-add"></i>
                    </button>
                </div>
                <div class="card-footer">
                    <div class=" button-container pull-right">
                        <button class="btn btn-info" (click)="submit()">
                            Guardar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>