.cardW {
  background: white;
}
.card-img-top {
  position: relative;
}
.admin-name {
  margin-bottom: 10px;
}
.containerImg .imgP {
  border: 8px solid #f7be06;
}
.top-line {
  border: 10px solid #f7be06;
  width: 102%;
  margin-top: -15px;
  margin-left: -15px;
}
.bottom-line {
  border: 5px solid #f7be06;
  width: 100%;
}
.btn-option {
  width: 99%;
}
.btn {
  background: #f7be06;
  color: whitesmoke;
}
.card-footer {
  background: #f7be06;
  color: whitesmoke;
  width: 100% !important;
}
.cb {
  background: rgb(204, 186, 186);
}
.btns {
  background: #2b944e;
}
.ft {
  background: #2b944e;
}
.ch {
  background: #2b944e !important;
}
.avatar {
  height: 20%;
  width: 20%;
}
.cw {
  color: whitesmoke;
}
.containerImg {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerImg .logo {
  position: absolute;
  width: 30%;
  height: 40%;
  display: flex;
  bottom: -50px;
  align-items: center;
}
.containerImg .logo > img {
  width: 100px;
}
.containerImg .background {
  width: 100%;
}
