<div class="sidebar-wrapper">
  <ul class="nav">
    <li routerLinkActive="active" class="nav-item">
      <a routerLink="store/list">
        <i class="tim-icons icon-bag-16"></i>
        <p>tienda</p>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a routerLink="service/list">
        <i class="tim-icons icon-components"></i>
        <p>servicios</p>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a routerLink="/trainer/list">
        <i class="tim-icons icon-user-run"></i>
        <p>entrenadores</p>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a routerLink="">
        <i class="tim-icons icon-chat-33"></i>
        <p>blog</p>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a routerLink="content/edit">
        <i class="tim-icons icon-wallet-43"></i>
        <p>promociones</p>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a routerLink="">
        <i class="tim-icons icon-tie-bow"></i>
        <p>testimonios</p>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a routerLink="">
        <i class="tim-icons icon-chart-bar-32"></i>
        <p>ventas</p>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a routerLink="">
        <i class="tim-icons icon-headphones"></i>
        <p>videollamadas</p>
      </a>
    </li>
  </ul>
</div>
