<div class="logo">
  <a href="https://www.creative-tim.com?ref=bda-sidebar-logo" class="simple-text logo-mini">
    <div class="logo-img">
      <img src="./assets/img/angular2-logo-white.png" />
    </div>
  </a>
  <a href="https://www.creative-tim.com?ref=bda-sidebar-logo" class="simple-text logo-normal">
    Creative Tim
  </a>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
    <li class="nav-item">

    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
      <i class="tim-icons icon-single-02"></i>
      <ngb-panel title="Tienda">
        <ng-template ngbPanelContent>
          <a routerLink="/store/create" class="nav-link">
            <span class="sidebar-normal">Create</span>
          </a>
          <a routerLink="/store/list" class="nav-link">
            <span class="sidebar-normal">Store list</span>
          </a>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
    </li>
    <!-- <li ngbDropdown>
      <a class="nav-link" id="store" ngbDropdownToggle>Store</a>
      <div ngbDropdownMenu aria-labelledby="store">
        <a routerLink="/store/create" class="nav-link">
          <span class="sidebar-normal">Create</span>
        </a>
        <a routerLink="/store/list" class="nav-link">
          <span class="sidebar-normal">Store list</span>
        </a>
      </div> -->
      <!-- <li routerLinkActive="active">
      <a routerLink="/store/create" class="nav-link">
          <span class="sidebar-normal">Create</span>
      </a>
   </li>
   <li routerLinkActive="active">
    <a routerLink="/store/list" class="nav-link">
        <span class="sidebar-normal">Store list</span>
    </a>
 </li> -->

      <li
      routerLinkActive="active"
      *ngFor="let menuItem of menuItems"
      class="{{ menuItem.class }} nav-item"
    >
      <a [routerLink]="[menuItem.path]">
        <i class="tim-icons  {{ menuItem.icon }}"></i>
        <p>{{ menuItem.title }}</p>
      </a>
    </li>
  </ul>
</div>