<div class="content">
    <div class="container">
        <div class="col-lg-6 col-md-6 ml-auto mr-auto">
            <div class="card card-login login">
                <div class="card-header">
                    <h1 class="text-center">Iniciar Sesion</h1>
                </div>
                <div class="card-body">
                    <form (ngSubmit)="login()" [formGroup]="user">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class=" tim-icons icon-email-85"></i></div>
                            </div><input class="form-control" value="" placeholder="Correo Electronico" type="text"
                                pattern=".+@.+\..+" formControlName="email">
                                <small *ngIf="user.get('email').invalid && user.get('email').touched"> *Espacio Obligatorio</small>
                        </div>
                        <div class="input-group">
                            <div class=" input-group-prepend">
                                <div class=" input-group-text"><i class=" tim-icons icon-lock-circle"></i></div>
                            </div><input class=" form-control" placeholder="Numero de celular" type="text">
                        </div>
                    </form>
                </div>
                <div class=" card-footer">
                    <button class="btn btn-info btn-block mb-3" [disabled]="user.invalid">Iniciar
                        Sesion</button>
                    <div class=" pull-left">
                        <h6><a class="link footer-link" routerLink="/register">Registrarse</a></h6>
                    </div>
                    <div class=" pull-right">
                        <h6><a class=" link footer-link" href="javascript:void(0)"> Need Help? </a></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>