.container-blogImg{
    position: relative;
    left: 0;
    top:0;
    height: 500px;
}

.blogimg1{
    position: absolute;
    top: 40px;
    left: 40px;
    z-index:1;
}

.blogimg2{
    position: absolute;
    height: 500px;
    width: 100%;
    z-index: -1;
}
.img-blog {
    width: 100% !important;
    height: 550px;
}
.icon {
    width: 30px;
}
.iconImg{
    width: 45px;
}
.scrollMenu{
    display: flex;
    overflow-x: auto;
}
