<div class="content">
    <div class="header">
        <img [src]="blog.banner" class="img-blog">
    </div>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title text-center">Categorias</h4>
            <div class="row justify-content-center">
                <div class="scrollMenu">
                    <div class="col-6 col-md-2" >
                        <div class = "card">
                        <div class="card-img-top p-1 text-center">
                            <img src="../../../../assets/img/angular.jpg" class="mx-auto img-fluid iconImg"
                                alt="">
                        </div>
                        <div class="card-body text-center">
                            <button type="button" class="btn btn-secondary animation-on-hover btn-sm">Secondary</button>
                        </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-2">
                        <div class = "card">
                        <div class="card-img-top p-1 text-center">
                            <img src="../../../../assets/img/angular.jpg" class="mx-auto img-fluid iconImg"
                                alt="">
                        </div>
                        <div class="card-body text-center">
                            <button type="button" class="btn btn-secondary animation-on-hover btn-sm">Secondary</button>
                        </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-2">
                        <div class = "card">
                        <div class="card-img-top p-1 text-center">
                            <img src="../../../../assets/img/angular.jpg" class="mx-auto img-fluid iconImg"
                                alt="">
                        </div>
                        <div class="card-body text-center">
                            <button type="button" class="btn btn-secondary animation-on-hover btn-sm">Secondary</button>
                        </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-2">
                        <div class = "card">
                        <div class="card-img-top p-1 text-center">
                            <img src="../../../../assets/img/angular.jpg" class="mx-auto img-fluid iconImg"
                                alt="">
                        </div>
                        <div class="card-body text-center">
                            <button type="button" class="btn btn-secondary animation-on-hover btn-sm">Secondary</button>
                        </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-2">
                        <div class = "card">
                        <div class="card-img-top p-1 text-center">
                            <img src="../../../../assets/img/angular.jpg" class="mx-auto img-fluid iconImg"
                                alt="">
                        </div>
                        <div class="card-body text-center">
                            <button type="button" class="btn btn-secondary animation-on-hover btn-sm">Secondary</button>
                        </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-2">
                        <div class = "card">
                        <div class="card-img-top p-1 text-center">
                            <img src="../../../../assets/img/angular.jpg" class="mx-auto img-fluid iconImg"
                                alt="">
                        </div>
                        <div class="card-body text-center">
                            <button type="button" class="btn btn-secondary animation-on-hover btn-sm">Secondary</button>
                        </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-2">
                        <div class = "card">
                        <div class="card-img-top p-1 text-center">
                            <img src="../../../../assets/img/angular.jpg" class="mx-auto img-fluid iconImg"
                                alt="">
                        </div>
                        <div class="card-body text-center">
                            <button type="button" class="btn btn-secondary animation-on-hover btn-sm">Secondary</button>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="card">
        <div class="card-body">
            <h2 class="card-title text-center text-uppercase">{{blog.name}}</h2>
            <hr color="purple" width="85%" />
            <br>
            <div class="container mt-5">
                <div class="row justify-content-center">
                    <div class="col-10" *ngFor="let article of articles">

                        <a [routerLink]="['/customer/blog/detail', article.id]">
                            <div class="row">
                                <br>
                                <div class="col-12 col-md-4">
                                    <img [src]="article.image" class="mx-3 img-thumbnail" alt="">
                                </div>
                                <div class="col-12 col-md-8 text-justify">
                                    <h3>{{article.title}}</h3>
                                    <p>{{article.description}}</p>
                                    <span class="float-lef">
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </span>
                                </div>
                                <div class="col-12 col-md-12 pt-3">
                                    <strong class="pull-right">00 Comentarios</strong>
                                    <br />
                                    <br />
                                    <hr color="purple" />
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ngx-ui-loader fgsColor='gray' fgsType='three-strings' overlayColor="rgba(24,31,46)"></ngx-ui-loader>