<div class="content" *ngIf="store">
    <div class="header">
        <img [src]="store.image" class="img-fluid img-store">
    </div>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title text-center">Categorias</h3>
            <div class="row justify-content-center">
                <div class="scrollMenu">
                    <div class="col-6 col-md-2" *ngFor="let store of stores">
                        <div class="card">
                        <div class="card-img-top p-1 text-center">
                            <img [src]="store.icon" class="rounded mx-auto d-block iconImg" *ngIf="store.icon; else noIcon">
                            <ng-template #noIcon>
                                <i class="tim-icons icon-atom"></i>
                            </ng-template>
                        </div>
                        <div class="card-body text-center">
                            <a class="btn btn-danger animation-on-hover btn-sm text-light btn-round" (click)="viewStore(store.id)">{{store.title | slice:0:10}}</a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title text-center text-uppercase">{{store.title}}</h3>
            <p class="text-center">{{store.description}}</p>
            <br>
            <div class="d-flex justify-content-center">
                <div class="row justify-content-center">
                    <div class="col-10 col-md-4" *ngFor="let product of products">
                        <div class="card">
                            <a [routerLink]="['/customer/store/detail', product.id]">
                                <img class="card-img-top" [src]="product.image" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title text-center">{{product.name}}</h4>
                                    <p class="card-text text-center"><strong>Precio : </strong>{{product.price}} Bs</p>
                                </div>
                            </a>
                            <button (click)="addToCart(product)" [hidden]="validate" class="btn btn-sm btn-info pull-right"><i class="tim-icons icon-cart"></i>añadir</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ngx-ui-loader fgsColor='gray' fgsType='three-strings' overlayColor="rgba(24,31,46)"></ngx-ui-loader>