<div class="content">
  <div class="header">
    <img [src]="trainer.banner" class="img-trainer">
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card card-user">
          <div class="card-body">
            <p class="card-text"></p>
            <div class="author">
              <div class="block block-one"></div>
              <div class="block block-two"></div>
              <div class="block block-three"></div>
              <div class="block block-four"></div>
                <img alt="..." class="avatar" [src]="trainer.icon" />
                <h5 class="title">{{trainer.names}}</h5>
              <p class="description">{{trainer.description}}</p>
            </div>
          </div>
          <div class="card-footer">
            <h5 class="title text-center">Redes Sociales</h5>
            <div class="button-container">
              <button class="btn btn-icon btn-round btn-facebook" href="javascript:void(0)">
                <i class="fab fa-facebook"> </i>
              </button>
              <button class="btn btn-icon btn-round btn-twitter" href="javascript:void(0)">
                <i class="fab fa-twitter"> </i>
              </button>
              <button class="btn btn-icon btn-round btn-google" href="javascript:void(0)">
                <i class="fab fa-google-plus"> </i>
              </button>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 mx-auto">
        <div class="card card-lock card-nav-tabs">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h4 class="card-title text-center">{{lection.name}}</h4>
                <p class="card-text text-center">{{lection.description}}</p>
              </div>
              <div class="col text-right">
                <img [src]="lection.image" class="img-thumbnail" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 mx-auto text-center">
        <button type="button" class="btn btn-success">
          Obtén una clase gratis
        </button>
      </div>
    </div>
  </div>
</div>

<ngx-ui-loader fgsColor='gray' fgsType='three-strings' overlayColor="rgba(24,31,46)"></ngx-ui-loader>