<div class="content">
  <div class="header">
    <img [src]="trainer.banner" class="img-trainer">
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card card-user">
          <div class="card-body">
            <p class="card-text"></p>
            <div class="author">
              <div class="block block-one"></div>
              <div class="block block-two"></div>
              <div class="block block-three"></div>
              <div class="block block-four"></div>
                <img alt="..." class="avatar" [src]="trainer.icon" />
                <h5 class="title">{{trainer.names}}</h5>
              <p class="description">{{trainer.description}}</p>
            </div>
          </div>
          <div class="card-footer">
            <h5 class="title text-center">Redes Sociales</h5>
            <div class="button-container">
              <button *ngIf="socialMedia.facebook" placement="top" ngbTooltip="Facebook" class="btn btn-icon btn-simple bt-lg" (click)="socialUrl(socialMedia.facebook)">
                <i class="fab fa-facebook-f"> </i>
              </button>
              <button *ngIf="socialMedia.twitter" placement="top" ngbTooltip="Twitter" class="btn btn-icon btn-simple bt-lg" (click)="socialUrl(socialMedia.twitter)">
                <i class="fab fa-twitter"> </i>
              </button>
              <button *ngIf="socialMedia.instagram" placement="top" ngbTooltip="Instagram" class="btn btn-icon btn-simple bt-lg" (click)="socialUrl(socialMedia.instagram)">
                <i class="fab fa-instagram"> </i>
              </button>
              <button *ngIf="socialMedia.whatsapp" placement="top" ngbTooltip="Whatsapp" class="btn btn-icon btn-simple bt-lg" (click)="socialUrl(socialMedia.whatsapp)">
                <i class="fab fa-whatsapp"></i>
              </button>
              <button *ngIf="socialMedia.telegram" placement="top" ngbTooltip="Telegram" class="btn btn-icon btn-simple bt-lg" (click)="socialUrl(socialMedia.telegram)">
                <i class="fab fa-telegram-plane"> </i>
              </button>
              <button *ngIf="socialMedia.youtube" placement="top" ngbTooltip="Youtube" class="btn btn-icon btn-simple bt-lg" (click)="socialUrl(socialMedia.youtube)">
                <i class="fab fa-youtube"> </i>
              </button>
              <button *ngIf="socialMedia.tiktok" placement="top" ngbTooltip="Tiktok" class="btn btn-icon btn-simple bt-lg" (click)="socialUrl(socialMedia.tiktok)">
                <i class="fab fa-tiktok"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 mx-auto">
        <div class="card card-lock card-nav-tabs">
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <h4 class="card-title text-center">{{lection.name}}</h4>
                <p class="card-text text-center">{{lection.description}}</p>
              </div>
              <br>
              <br>
              <div class="col-12 text-right mt-3">
                <img [src]="lection.image" class="img-thumbnail" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mx-auto text-center">
        <button type="button" class="btn btn-success" (click)="registerClass()">
          inscribiste a la clase
        </button>
      </div>
    </div>
  </div>
</div>
<hr color="purple">
<div class="container">
  <div class="row justify-content-center" *ngIf="showRandomService">
    <div class="col-6 col-md-3 ">
      <div class="card text-center">
        <div class="card-body">
          <img [src]="randomService" class="card-img" alt="moreServicesImg">
          <a href="#" class="btn btn-success d-block">Pruebalo ahora</a>   
        </div>        
        </div>
    </div>
  </div>
</div>

<ngx-ui-loader fgsColor='gray' fgsType='three-strings' overlayColor="rgba(24,31,46)"></ngx-ui-loader>