<div class="content">
    <div class="container-blogImg">
        <img src="../../../assets/img/angular.jpg" class="d-block img-fuild blogimg1" alt="">
        <img src="../../../assets/img/header.jpg" class="blogimg2" alt="">
    </div>
    <div class="container">
        <div class="row mt-4">
            <div class="col-12 col-md-2">
                <div class="p-1 text-center">
                    <img src="../../../assets/img/angular.jpg" class="mx-auto img-fuild img-thumbnail iconImg" alt="">
                    <button type="button" class="btn btn-secondary animation-on-hover btn-sm">Secondary</button>
                </div>
            </div>
            <div class="col-12 col-md-2">
                <div class="p-1 text-center">
                    <img src="../../../assets/img/angular.jpg" class="mx-auto img-fuild img-thumbnail iconImg" alt="">
                    <button type="button" class="btn btn-secondary animation-on-hover btn-sm">Secondary</button>
                </div>
            </div>
            <div class="col-12 col-md-2">
                <div class="p-1 text-center">
                    <img src="../../../assets/img/angular.jpg" class="mx-auto img-fuild img-thumbnail iconImg" alt="">
                    <button type="button" class="btn btn-secondary animation-on-hover btn-sm">Secondary</button>
                </div>
            </div>
            <div class="col-12 col-md-2">
                <div class="p-1 text-center">
                    <img src="../../../assets/img/angular.jpg" class="mx-auto img-fuild img-thumbnail iconImg" alt="">
                    <button type="button" class="btn btn-secondary animation-on-hover btn-sm">Secondary</button>
                </div>
            </div>
            <div class="col-12 col-md-2">
                <div class="p-1 text-center">
                    <img src="../../../assets/img/angular.jpg" class="mx-auto img-fuild img-thumbnail iconImg" alt="">
                    <button type="button" class="btn btn-secondary animation-on-hover btn-sm">Secondary</button>
                </div>
            </div>
            <div class="col-12 col-md-2">
                <div class="p-1 text-center">
                    <img src="../../../assets/img/angular.jpg" class="mx-auto img-fuild img-thumbnail iconImg" alt="">
                    <button type="button" class="btn btn-secondary animation-on-hover btn-sm">Secondary</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row p-5">
            <div class="col align-center p-5">
                <div class="col-12 text-center">
                    <strong>Titulo de artículo</strong>
                    <div class="col-md-6">
                        <img src="../../../assets/img/angular.jpg" class="mx-auto img-fuild" alt="">
                    </div>
                    <div class="col-md-6">
                        ******
                    </div>
                    <div class="col-md-12">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem reiciendis laborum in harum
                        neque, porro nulla aliquid consequatur quo reprehenderit, molestias excepturi officiis dicta
                        nihil ducimus temporibus culpa nostrum atque.
                    </div>
                    <div class="col-md-12">
                        <button class="btn btn-outline-secondary pull-left btn-sm">Leer más</button>
                        <strong class="pull-right">00 Comentarios</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>